interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/market?symbol=BTC_USDC
  response:
    body:
      string: '{"baseSymbol":"BTC","createdAt":"2025-01-21T06:34:54.691858","filters":{"price":{"borrowEntryFeeMaxMultiplier":null,"borrowEntryFeeMinMultiplier":null,"maxImpactMultiplier":"1.02","maxMultiplier":"1.25","maxPrice":null,"meanMarkPriceBand":{"maxMultiplier":"1.06","minMultiplier":"0.94"},"meanPremiumBand":null,"minImpactMultiplier":"0.98","minMultiplier":"0.75","minPrice":"0.1","tickSize":"0.1"},"quantity":{"maxQuantity":null,"minQuantity":"0.00001","stepSize":"0.00001"}},"fundingInterval":28800000,"fundingRateLowerBound":null,"fundingRateUpperBound":null,"imfFunction":null,"marketType":"SPOT","mmfFunction":null,"openInterestLimit":"0","orderBookState":"Open","quoteSymbol":"USDC","symbol":"BTC_USDC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
