interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8228703,"isBuyerMaker":true,"price":"106353.6","quantity":"0.00145","quoteQuantity":"154.21272","timestamp":1749414049869},{"id":8228702,"isBuyerMaker":false,"price":"106353.7","quantity":"0.0004","quoteQuantity":"42.54148","timestamp":1749414019508},{"id":8228701,"isBuyerMaker":true,"price":"106364.2","quantity":"0.0002","quoteQuantity":"21.27284","timestamp":1749413998112},{"id":8228700,"isBuyerMaker":true,"price":"106364.2","quantity":"0.0002","quoteQuantity":"21.27284","timestamp":1749413998112},{"id":8228699,"isBuyerMaker":true,"price":"106362.6","quantity":"0.00223","quoteQuantity":"237.188598","timestamp":1749413962299}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
