interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=10&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357816642,"isBuyerMaker":false,"price":"159.63","quantity":"0.14","quoteQuantity":"22.3482","timestamp":1749712271980},{"id":357816641,"isBuyerMaker":false,"price":"159.62","quantity":"0.14","quoteQuantity":"22.3468","timestamp":1749712271818},{"id":357816640,"isBuyerMaker":false,"price":"159.62","quantity":"0.14","quoteQuantity":"22.3468","timestamp":1749712271818},{"id":357816639,"isBuyerMaker":false,"price":"159.6","quantity":"2.72","quoteQuantity":"434.112","timestamp":1749712270595},{"id":357816638,"isBuyerMaker":false,"price":"159.6","quantity":"3.97","quoteQuantity":"633.612","timestamp":1749712270595},{"id":357816637,"isBuyerMaker":false,"price":"159.6","quantity":"0.14","quoteQuantity":"22.344","timestamp":1749712270595},{"id":357816636,"isBuyerMaker":false,"price":"159.59","quantity":"0.14","quoteQuantity":"22.3426","timestamp":1749712270595},{"id":357816635,"isBuyerMaker":false,"price":"159.55","quantity":"0.3","quoteQuantity":"47.865","timestamp":1749712261979},{"id":357816634,"isBuyerMaker":false,"price":"159.55","quantity":"0.18","quoteQuantity":"28.719","timestamp":1749712261979},{"id":357816633,"isBuyerMaker":false,"price":"159.54","quantity":"0.97","quoteQuantity":"154.7538","timestamp":1749712261810}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
