interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357594895,"isBuyerMaker":false,"price":"159.73","quantity":"16.69","quoteQuantity":"2665.8937","timestamp":1749522399112},{"id":357594894,"isBuyerMaker":false,"price":"159.72","quantity":"0.01","quoteQuantity":"1.5972","timestamp":1749522399112},{"id":357594893,"isBuyerMaker":false,"price":"159.7","quantity":"0.05","quoteQuantity":"7.985","timestamp":1749522399100},{"id":357594892,"isBuyerMaker":false,"price":"159.69","quantity":"0.05","quoteQuantity":"7.9845","timestamp":1749522399100},{"id":357594891,"isBuyerMaker":false,"price":"159.69","quantity":"7","quoteQuantity":"1117.83","timestamp":1749522399100}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8289216,"isBuyerMaker":true,"price":"109717.4","quantity":"0.00132","quoteQuantity":"144.826968","timestamp":1749522417393},{"id":8289215,"isBuyerMaker":true,"price":"109723.5","quantity":"0.0002","quoteQuantity":"21.9447","timestamp":1749522417393},{"id":8289214,"isBuyerMaker":true,"price":"109723.5","quantity":"0.0002","quoteQuantity":"21.9447","timestamp":1749522417393},{"id":8289213,"isBuyerMaker":true,"price":"109723.6","quantity":"0.00101","quoteQuantity":"110.820836","timestamp":1749522417393},{"id":8289212,"isBuyerMaker":false,"price":"109725.4","quantity":"0.00011","quoteQuantity":"12.069794","timestamp":1749522417379}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
