interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8289209,"isBuyerMaker":false,"price":"109683.7","quantity":"0.00001","quoteQuantity":"1.096837","timestamp":1749522348436},{"id":8289208,"isBuyerMaker":false,"price":"109683.7","quantity":"0.00001","quoteQuantity":"1.096837","timestamp":1749522348436},{"id":8289207,"isBuyerMaker":false,"price":"109672.7","quantity":"0.00001","quoteQuantity":"1.096727","timestamp":1749522338507},{"id":8289206,"isBuyerMaker":false,"price":"109672.7","quantity":"0.00001","quoteQuantity":"1.096727","timestamp":1749522338507},{"id":8289205,"isBuyerMaker":true,"price":"109672.6","quantity":"0.00012","quoteQuantity":"13.160712","timestamp":1749522338478}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
