interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357579465,"isBuyerMaker":true,"price":"157.47","quantity":"6","quoteQuantity":"944.82","timestamp":1749503103661},{"id":357579464,"isBuyerMaker":true,"price":"157.47","quantity":"0.24","quoteQuantity":"37.7928","timestamp":1749503103661},{"id":357579463,"isBuyerMaker":true,"price":"157.47","quantity":"0.06","quoteQuantity":"9.4482","timestamp":1749503101886},{"id":357579462,"isBuyerMaker":true,"price":"157.5","quantity":"6","quoteQuantity":"945","timestamp":1749503101218},{"id":357579461,"isBuyerMaker":false,"price":"157.5","quantity":"0.25","quoteQuantity":"39.375","timestamp":1749503100464}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8282434,"isBuyerMaker":true,"price":"108892","quantity":"0.0002","quoteQuantity":"21.7784","timestamp":1749503105431},{"id":8282433,"isBuyerMaker":true,"price":"108892.1","quantity":"0.0002","quoteQuantity":"21.77842","timestamp":1749503105431},{"id":8282432,"isBuyerMaker":true,"price":"108902.9","quantity":"0.0002","quoteQuantity":"21.78058","timestamp":1749503105244},{"id":8282431,"isBuyerMaker":true,"price":"108903","quantity":"0.0002","quoteQuantity":"21.7806","timestamp":1749503105244},{"id":8282430,"isBuyerMaker":true,"price":"108902.6","quantity":"0.00237","quoteQuantity":"258.099162","timestamp":1749503100453}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
