interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8230408,"isBuyerMaker":true,"price":"105736.5","quantity":"0.00005","quoteQuantity":"5.286825","timestamp":1749426831961},{"id":8230407,"isBuyerMaker":false,"price":"105736.8","quantity":"0.00131","quoteQuantity":"138.515208","timestamp":1749426827357},{"id":8230406,"isBuyerMaker":false,"price":"105736.8","quantity":"0.00005","quoteQuantity":"5.28684","timestamp":1749426798851},{"id":8230405,"isBuyerMaker":true,"price":"105714.7","quantity":"0.00283","quoteQuantity":"299.172601","timestamp":1749426790635},{"id":8230404,"isBuyerMaker":false,"price":"105714.8","quantity":"0.00283","quoteQuantity":"299.172884","timestamp":1749426790620}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
