interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=10&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357594895,"isBuyerMaker":false,"price":"159.73","quantity":"16.69","quoteQuantity":"2665.8937","timestamp":1749522399112},{"id":357594894,"isBuyerMaker":false,"price":"159.72","quantity":"0.01","quoteQuantity":"1.5972","timestamp":1749522399112},{"id":357594893,"isBuyerMaker":false,"price":"159.7","quantity":"0.05","quoteQuantity":"7.985","timestamp":1749522399100},{"id":357594892,"isBuyerMaker":false,"price":"159.69","quantity":"0.05","quoteQuantity":"7.9845","timestamp":1749522399100},{"id":357594891,"isBuyerMaker":false,"price":"159.69","quantity":"7","quoteQuantity":"1117.83","timestamp":1749522399100},{"id":357594890,"isBuyerMaker":false,"price":"159.69","quantity":"0.3","quoteQuantity":"47.907","timestamp":1749522399100},{"id":357594889,"isBuyerMaker":false,"price":"159.67","quantity":"0.07","quoteQuantity":"11.1769","timestamp":1749522385225},{"id":357594888,"isBuyerMaker":true,"price":"159.59","quantity":"0.25","quoteQuantity":"39.8975","timestamp":1749522384302},{"id":357594887,"isBuyerMaker":true,"price":"159.59","quantity":"0.01","quoteQuantity":"1.5959","timestamp":1749522384302},{"id":357594886,"isBuyerMaker":true,"price":"159.6","quantity":"0.05","quoteQuantity":"7.98","timestamp":1749522384302}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
