interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357529753,"isBuyerMaker":true,"price":"152.49","quantity":"0.32","quoteQuantity":"48.7968","timestamp":1749426847883},{"id":357529752,"isBuyerMaker":false,"price":"152.5","quantity":"0.02","quoteQuantity":"3.05","timestamp":1749426846436},{"id":357529751,"isBuyerMaker":false,"price":"152.5","quantity":"0.32","quoteQuantity":"48.8","timestamp":1749426841974},{"id":357529750,"isBuyerMaker":false,"price":"152.5","quantity":"0.01","quoteQuantity":"1.525","timestamp":1749426841779},{"id":357529749,"isBuyerMaker":false,"price":"152.5","quantity":"0.09","quoteQuantity":"13.725","timestamp":1749426841492}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
