interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=3&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357524884,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414160140},{"id":357524883,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414152415},{"id":357524882,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414145721}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
