interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8315827,"isBuyerMaker":true,"price":"107956.5","quantity":"0.00247","quoteQuantity":"266.652555","timestamp":1749712185844},{"id":8315826,"isBuyerMaker":true,"price":"107956.6","quantity":"0.0003","quoteQuantity":"32.38698","timestamp":1749712185844},{"id":8315825,"isBuyerMaker":false,"price":"107959.2","quantity":"0.00277","quoteQuantity":"299.046984","timestamp":1749712185829},{"id":8315824,"isBuyerMaker":false,"price":"107860.2","quantity":"0.00042","quoteQuantity":"45.301284","timestamp":1749712023317},{"id":8315823,"isBuyerMaker":false,"price":"107860.1","quantity":"0.0001","quoteQuantity":"10.78601","timestamp":1749712020835}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
