interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15089808,"isBuyerMaker":true,"price":"156.33","quantity":"2","quoteQuantity":"312.66","timestamp":1749499821691},{"id":15089807,"isBuyerMaker":false,"price":"156.32","quantity":"5.89","quoteQuantity":"920.7248","timestamp":1749499795452},{"id":15089806,"isBuyerMaker":true,"price":"156.31","quantity":"5.79","quoteQuantity":"905.0349","timestamp":1749499793856},{"id":15089805,"isBuyerMaker":true,"price":"156.31","quantity":"0.1","quoteQuantity":"15.631","timestamp":1749499793856},{"id":15089804,"isBuyerMaker":true,"price":"156.32","quantity":"2.28","quoteQuantity":"356.4096","timestamp":1749499787132}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
