interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=10&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357524884,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414160140},{"id":357524883,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414152415},{"id":357524882,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414145721},{"id":357524881,"isBuyerMaker":true,"price":"154.74","quantity":"0.04","quoteQuantity":"6.1896","timestamp":1749414141997},{"id":357524880,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414137970},{"id":357524879,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414131245},{"id":357524878,"isBuyerMaker":false,"price":"154.75","quantity":"0.02","quoteQuantity":"3.095","timestamp":1749414125425},{"id":357524877,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414124576},{"id":357524876,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414116865},{"id":357524875,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414110191}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
