interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=50&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357524885,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414166780},{"id":357524884,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414160140},{"id":357524883,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414152415},{"id":357524882,"isBuyerMaker":true,"price":"154.74","quantity":"0.01","quoteQuantity":"1.5474","timestamp":1749414145721},{"id":357524881,"isBuyerMaker":true,"price":"154.74","quantity":"0.04","quoteQuantity":"6.1896","timestamp":17494141[...]
