interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8280307,"isBuyerMaker":true,"price":"108747.6","quantity":"0.00004","quoteQuantity":"4.349904","timestamp":1749499813999},{"id":8280306,"isBuyerMaker":true,"price":"108748","quantity":"0.00001","quoteQuantity":"1.08748","timestamp":1749499809206},{"id":8280305,"isBuyerMaker":true,"price":"108749.7","quantity":"0.00063","quoteQuantity":"68.512311","timestamp":1749499808662},{"id":8280304,"isBuyerMaker":true,"price":"108755.9","quantity":"0.0002","quoteQuantity":"21.75118","timestamp":1749499808662},{"id":8280303,"isBuyerMaker":true,"price":"108756","quantity":"0.00015","quoteQuantity":"16.3134","timestamp":1749499808662}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
