interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=50&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357579468,"isBuyerMaker":true,"price":"157.44","quantity":"6","quoteQuantity":"944.64","timestamp":1749503106247},{"id":357579467,"isBuyerMaker":false,"price":"157.45","quantity":"0.17","quoteQuantity":"26.7665","timestamp":1749503105804},{"id":357579466,"isBuyerMaker":false,"price":"157.45","quantity":"0.15","quoteQuantity":"23.6175","timestamp":1749503105537},{"id":357579465,"isBuyerMaker":true,"price":"157.47","quantity":"6","quoteQuantity":"944.82","timestamp":1749503103661},{"id":357579464,"isBuyerMaker":true,"price":"157.47","quantity":"0.24","quoteQuantity":"37.7928","timestamp":174950[...]
[...]
