interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357577905,"isBuyerMaker":true,"price":"156.4","quantity":"0.48","quoteQuantity":"75.072","timestamp":1749499813072},{"id":357577904,"isBuyerMaker":false,"price":"156.4","quantity":"0.17","quoteQuantity":"26.588","timestamp":1749499806588},{"id":357577903,"isBuyerMaker":false,"price":"156.4","quantity":"0.02","quoteQuantity":"3.128","timestamp":1749499806588},{"id":357577902,"isBuyerMaker":true,"price":"156.37","quantity":"1.47","quoteQuantity":"229.8639","timestamp":1749499792084},{"id":357577901,"isBuyerMaker":false,"price":"156.37","quantity":"0.01","quoteQuantity":"1.5637","timestamp":1749499772048}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8280312,"isBuyerMaker":true,"price":"108742.4","quantity":"0.00066","quoteQuantity":"71.769984","timestamp":1749499825974},{"id":8280311,"isBuyerMaker":true,"price":"108747.8","quantity":"0.00017","quoteQuantity":"18.487126","timestamp":1749499825974},{"id":8280310,"isBuyerMaker":true,"price":"108747.9","quantity":"0.00016","quoteQuantity":"17.399664","timestamp":1749499825974},{"id":8280309,"isBuyerMaker":false,"price":"108748.1","quantity":"0.0008","quoteQuantity":"86.99848","timestamp":1749499825754},{"id":8280308,"isBuyerMaker":false,"price":"108748","quantity":"0.0002","quoteQuantity":"21.7496","timestamp":1749499825754}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
