interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15105614,"isBuyerMaker":false,"price":"159.63","quantity":"2.25","quoteQuantity":"359.1675","timestamp":1749522408661},{"id":15105613,"isBuyerMaker":false,"price":"159.65","quantity":"7.92","quoteQuantity":"1264.428","timestamp":1749522399101},{"id":15105612,"isBuyerMaker":false,"price":"159.65","quantity":"15.65","quoteQuantity":"2498.5225","timestamp":1749522399101},{"id":15105611,"isBuyerMaker":false,"price":"159.62","quantity":"7.92","quoteQuantity":"1264.1904","timestamp":1749522393338},{"id":15105610,"isBuyerMaker":false,"price":"159.62","quantity":"0.01","quoteQuantity":"1.5962","timestamp":1749522393338}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
