interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=50&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357594897,"isBuyerMaker":false,"price":"159.71","quantity":"0.15","quoteQuantity":"23.9565","timestamp":1749522421408},{"id":357594896,"isBuyerMaker":false,"price":"159.7","quantity":"0.01","quoteQuantity":"1.597","timestamp":1749522420764},{"id":357594895,"isBuyerMaker":false,"price":"159.73","quantity":"16.69","quoteQuantity":"2665.8937","timestamp":1749522399112},{"id":357594894,"isBuyerMaker":false,"price":"159.72","quantity":"0.01","quoteQuantity":"1.5972","timestamp":1749522399112},{"id":357594893,"isBuyerMaker":false,"price":"159.7","quantity":"0.05","quoteQuantity":"7.985","timestamp":1749[...]
[...]
