interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15044013,"isBuyerMaker":true,"price":"152.45","quantity":"2.56","quoteQuantity":"390.272","timestamp":1749426841096},{"id":15044012,"isBuyerMaker":true,"price":"152.45","quantity":"2","quoteQuantity":"304.9","timestamp":1749426802447},{"id":15044011,"isBuyerMaker":false,"price":"152.42","quantity":"16.4","quoteQuantity":"2499.688","timestamp":1749426797997},{"id":15044010,"isBuyerMaker":true,"price":"152.39","quantity":"0.2","quoteQuantity":"30.478","timestamp":1749426785237},{"id":15044009,"isBuyerMaker":false,"price":"152.4","quantity":"2","quoteQuantity":"304.8","timestamp":1749426784470}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
