interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=1000&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357579465,"isBuyerMaker":true,"price":"157.47","quantity":"6","quoteQuantity":"944.82","timestamp":1749503103661},{"id":357579464,"isBuyerMaker":true,"price":"157.47","quantity":"0.24","quoteQuantity":"37.7928","timestamp":1749503103661},{"id":357579463,"isBuyerMaker":true,"price":"157.47","quantity":"0.06","quoteQuantity":"9.4482","timestamp":1749503101886},{"id":357579462,"isBuyerMaker":true,"price":"157.5","quantity":"6","quoteQuantity":"945","timestamp":1749503101218},{"id":357579461,"isBuyerMaker":false,"price":"157.5","quantity":"0.25","quoteQuantity":"39.375","timestamp":1749503100464}[...]
