interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=10&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357529751,"isBuyerMaker":false,"price":"152.5","quantity":"0.32","quoteQuantity":"48.8","timestamp":1749426841974},{"id":357529750,"isBuyerMaker":false,"price":"152.5","quantity":"0.01","quoteQuantity":"1.525","timestamp":1749426841779},{"id":357529749,"isBuyerMaker":false,"price":"152.5","quantity":"0.09","quoteQuantity":"13.725","timestamp":1749426841492},{"id":357529748,"isBuyerMaker":false,"price":"152.49","quantity":"0.07","quoteQuantity":"10.6743","timestamp":1749426841492},{"id":357529747,"isBuyerMaker":false,"price":"152.49","quantity":"0.02","quoteQuantity":"3.0498","timestamp":1749426813220},{"id":357529746,"isBuyerMaker":false,"price":"152.47","quantity":"1.45","quoteQuantity":"221.0815","timestamp":1749426798032},{"id":357529745,"isBuyerMaker":false,"price":"152.48","quantity":"0.28","quoteQuantity":"42.6944","timestamp":1749426798004},{"id":357529744,"isBuyerMaker":false,"price":"152.46","quantity":"7.5","quoteQuantity":"1143.45","timestamp":1749426797991},{"id":357529743,"isBuyerMaker":true,"price":"152.45","quantity":"0.05","quoteQuantity":"7.6225","timestamp":1749426796606},{"id":357529742,"isBuyerMaker":true,"price":"152.49","quantity":"35.08","quoteQuantity":"5349.3492","timestamp":1749426764308}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
