interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=3&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357816642,"isBuyerMaker":false,"price":"159.63","quantity":"0.14","quoteQuantity":"22.3482","timestamp":1749712271980},{"id":357816641,"isBuyerMaker":false,"price":"159.62","quantity":"0.14","quoteQuantity":"22.3468","timestamp":1749712271818},{"id":357816640,"isBuyerMaker":false,"price":"159.62","quantity":"0.14","quoteQuantity":"22.3468","timestamp":1749712271818}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
