interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15039473,"isBuyerMaker":true,"price":"154.68","quantity":"0.14","quoteQuantity":"21.6552","timestamp":1749414148856},{"id":15039472,"isBuyerMaker":false,"price":"154.69","quantity":"0.14","quoteQuantity":"21.6566","timestamp":1749414140390},{"id":15039471,"isBuyerMaker":true,"price":"154.67","quantity":"0.14","quoteQuantity":"21.6538","timestamp":1749414136098},{"id":15039470,"isBuyerMaker":false,"price":"154.69","quantity":"0.14","quoteQuantity":"21.6566","timestamp":1749414131628},{"id":15039469,"isBuyerMaker":true,"price":"154.68","quantity":"0.14","quoteQuantity":"21.6552","timestamp":1749414128320}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
