interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15091162,"isBuyerMaker":true,"price":"157.44","quantity":"1.58","quoteQuantity":"248.7552","timestamp":1749503098706},{"id":15091161,"isBuyerMaker":true,"price":"157.44","quantity":"0.9","quoteQuantity":"141.696","timestamp":1749503098706},{"id":15091160,"isBuyerMaker":true,"price":"157.44","quantity":"0.13","quoteQuantity":"20.4672","timestamp":1749503098706},{"id":15091159,"isBuyerMaker":true,"price":"157.43","quantity":"1.15","quoteQuantity":"181.0445","timestamp":1749503095474},{"id":15091158,"isBuyerMaker":true,"price":"157.43","quantity":"1.46","quoteQuantity":"229.8478","timestamp":1749503095474}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
