interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15282307,"isBuyerMaker":true,"price":"159.59","quantity":"8.8","quoteQuantity":"1404.392","timestamp":1749712281570},{"id":15282306,"isBuyerMaker":false,"price":"159.55","quantity":"0.77","quoteQuantity":"122.8535","timestamp":1749712270598},{"id":15282305,"isBuyerMaker":false,"price":"159.55","quantity":"99.49","quoteQuantity":"15873.6295","timestamp":1749712270595},{"id":15282304,"isBuyerMaker":false,"price":"159.48","quantity":"7.92","quoteQuantity":"1263.0816","timestamp":1749712261156},{"id":15282303,"isBuyerMaker":true,"price":"159.48","quantity":"7.92","quoteQuantity":"1263.0816","timestamp":1749712253543}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
