interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=10&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":357579453,"isBuyerMaker":true,"price":"157.49","quantity":"6","quoteQuantity":"944.94","timestamp":1749503081688},{"id":357579452,"isBuyerMaker":true,"price":"157.49","quantity":"32.13","quoteQuantity":"5060.1537","timestamp":1749503081688},{"id":357579451,"isBuyerMaker":false,"price":"157.48","quantity":"0.05","quoteQuantity":"7.874","timestamp":1749503078195},{"id":357579450,"isBuyerMaker":false,"price":"157.45","quantity":"0.05","quoteQuantity":"7.8725","timestamp":1749503073084},{"id":357579449,"isBuyerMaker":false,"price":"157.44","quantity":"0.05","quoteQuantity":"7.872","timestamp":1749503071601},{"id":357579448,"isBuyerMaker":true,"price":"157.47","quantity":"6","quoteQuantity":"944.82","timestamp":1749503067493},{"id":357579447,"isBuyerMaker":false,"price":"157.46","quantity":"7.18","quoteQuantity":"1130.5628","timestamp":1749503064980},{"id":357579446,"isBuyerMaker":true,"price":"157.43","quantity":"0.01","quoteQuantity":"1.5743","timestamp":1749503064353},{"id":357579445,"isBuyerMaker":false,"price":"157.45","quantity":"4.76","quoteQuantity":"749.462","timestamp":1749503059096},{"id":357579444,"isBuyerMaker":false,"price":"157.45","quantity":"1.17","quoteQuantity":"184.2165","timestamp":1749503059096}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
