interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8282428,"isBuyerMaker":true,"price":"108898.6","quantity":"0.00237","quoteQuantity":"258.089682","timestamp":1749503098766},{"id":8282427,"isBuyerMaker":true,"price":"108901.5","quantity":"0.00232","quoteQuantity":"252.65148","timestamp":1749503098766},{"id":8282426,"isBuyerMaker":true,"price":"108898.6","quantity":"0.00099","quoteQuantity":"107.809614","timestamp":1749503098263},{"id":8282425,"isBuyerMaker":false,"price":"108904.5","quantity":"0.00036","quoteQuantity":"39.20562","timestamp":1749503098049},{"id":8282424,"isBuyerMaker":false,"price":"108903.9","quantity":"0.0002","quoteQuantity":"21.78078","timestamp":1749503098049}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
