{
    "openapi": "3.0.0",
    "info": {
      "title": "Hyperliquid API (Synthesized Internal Spec)",
      "version": "v0.0.2-internal-sdk-derived",
      "description": "An internally generated OpenAPI specification for the Hyperliquid REST API, derived primarily from the hyperliquid-python-sdk (github.com/hyperliquid-dex/hyperliquid-python-sdk) source code, cross-referenced with GitBook documentation. Focuses on /info and /exchange endpoints. **CRITICAL NOTE:** The actual request/response schemas for /info and /exchange actions depend on the 'type' field specified. This spec defines schemas for known types based on the SDK. Always verify against actual API behavior and official SDK usage."
    },
    "servers": [
      {
        "url": "https://api.hyperliquid.xyz",
        "description": "Mainnet API Endpoint (used for /exchange)"
      },
      {
        "url": "https://info.hyperliquid.xyz",
        "description": "Mainnet Info Endpoint (used for /info)"
      }
      // Add Testnet URLs if needed: https://api.hyperliquid-testnet.xyz
    ],
    "tags": [
        {"name": "Info", "description": "Read-only endpoints for retrieving market and user state (via POST to /info)"},
        {"name": "Exchange", "description": "Endpoints for executing actions like orders/cancels (via POST to /exchange, requires EIP-712 signing)"}
    ],
    "paths": {
      "/info": {
        "post": {
          "tags": ["Info"],
          "operationId": "postInfo",
          "summary": "Retrieve various market and user state information",
          "description": "Generic endpoint for fetching different types of information based on the 'type' field in the request body. The request body schema AND the response schema depend entirely on the 'type' specified. Refer to specific request/response schemas in the components section (e.g., OpenOrdersRequestPayload, OpenOrdersResponse, MetaAndAssetCtxsResponse, etc.). Authentication is NOT required for public info types.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Determines the specific information requested. Examples: 'meta', 'allMids', 'metaAndAssetCtxs', 'clearinghouseState', 'openOrders', 'userFills', 'l2Book', 'recentTrades', 'candleSnapshot'."
                    }
                    // Other fields like 'user', 'coin', 'startTime', 'endTime' are added based on 'type'
                    // See specific RequestPayload schemas below.
                  },
                  "required": ["type"],
                  "description": "Base request structure. For specific payloads see schemas like OpenOrdersRequestPayload, UserStateRequestPayload, L2BookRequestPayload, etc."
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful response. **The actual schema varies based on the request 'type'.** Refer to component schemas like MetaResponse, AllMidsResponse, MetaAndAssetCtxsResponse, UserStateResponse, OpenOrdersResponse, UserFillsResponse, L2BookResponse, RecentTradesResponse, CandleSnapshotResponse.",
              "content": {
                "application/json": {
                  "schema": {
                    "description": "Response structure varies based on request type. Can be object or array.",
                    "oneOf": [
                      { "$ref": "#/components/schemas/MetaResponse" },
                      { "$ref": "#/components/schemas/AllMidsResponse" },
                      { "$ref": "#/components/schemas/MetaAndAssetCtxsResponse" },
                      { "$ref": "#/components/schemas/UserStateResponse" },
                      { "$ref": "#/components/schemas/OpenOrdersResponse" },
                      { "$ref": "#/components/schemas/UserFillsResponse" },
                      { "$ref": "#/components/schemas/L2BookResponse" },
                      { "$ref": "#/components/schemas/RecentTradesResponse" },
                      { "$ref": "#/components/schemas/CandleSnapshotResponse" }
                      // Add other possible top-level response types here
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid 'type' or parameters.",
              "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
            },
            "500": {
              "description": "Internal Server Error.",
              "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
            }
          }
        }
      },
      "/exchange": {
        "post": {
          "tags": ["Exchange"],
          "operationId": "postExchange",
          "summary": "Execute trading actions (place order, cancel order, etc.)",
          "description": "Endpoint for submitting actions that modify state. Requires EIP-712 authentication via headers (X-HL-Signature, X-HL-Timestamp, X-HL-Nonce derived from signing the action payload). The request body schema's 'action' field depends on the 'type' of action.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                   "type": "object",
                   "properties": {
                      "type": {
                          "type": "string",
                          "description": "The type of action to perform (e.g., 'order', 'cancel', 'cancelByCloid', 'modifyOrder', 'updateLeverage', 'updateIsolatedMargin')."
                      },
                      "action": {
                          "description": "The payload specific to the action type. See schemas like PlaceOrderActionPayload, CancelActionPayload, etc.",
                          "oneOf": [
                               { "$ref": "#/components/schemas/PlaceOrderActionPayload" },
                               { "$ref": "#/components/schemas/CancelActionPayload" },
                               { "$ref": "#/components/schemas/CancelByCloidActionPayload" },
                               { "$ref": "#/components/schemas/ModifyOrderActionPayload" },
                               { "$ref": "#/components/schemas/UpdateLeverageActionPayload" },
                               { "$ref": "#/components/schemas/UpdateIsolatedMarginActionPayload" }
                               // Add other known action payloads
                          ]
                      }
                   },
                   "required": ["type", "action"],
                   "description": "Base request structure for exchange actions."
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful action execution. The response 'data' structure varies.",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/ExchangeActionResponse" }
                }
              }
            },
             "400": {
              "description": "Bad Request - Invalid action type or payload.",
              "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
            },
            "401": {
              "description": "Authentication Failed - Invalid signature, timestamp, or nonce.",
              "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
            },
            "500": {
              "description": "Internal Server Error.",
              "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
            }
            // Add other potential errors
          }
        }
      }
    },
    "components": {
      "schemas": {
  
        // --- Basic Error Schema ---
        "ApiError": {
             "type": "object",
             "properties": { "error": { "type": "string", "description": "Error message" } },
             "description": "Generic error response structure."
         },
  
         // --- Shared Enums (Based on SDK types.py & constants.py) ---
         "ApiSide": { "type": "string", "enum": ["B", "A"], "description": "'B' Buy/Bid, 'A' Ask/Sell." },
         "ApiTif": { "type": "string", "enum": ["Gtc", "Ioc", "Alo"], "description": "Time in Force. Alo = Add Liquidity Only / Post-Only." },
         "ApiTriggerType": { "type": "string", "enum": ["tp", "sl"], "description": "Trigger type: 'tp' take-profit, 'sl' stop-loss." },
         "ApiLeverageType": { "type": "string", "enum": ["cross", "isolated"], "description": "Leverage type." },
  
         // --- Schemas for /info Payloads (Request & Response) ---
  
         // Meta & Asset Ctx
         "MetaRequestPayload": {
              "type": "object", "properties": { "type": { "type": "string", "enum": ["meta"] } }, "required": ["type"]
         },
         "MetaResponse": {
              "type": "object",
              "properties": { "universe": { "type": "array", "items": { "$ref": "#/components/schemas/ApiAssetDefinition" } } },
              "required": ["universe"]
         },
         "MetaAndAssetCtxsRequestPayload": {
              "type": "object", "properties": { "type": { "type": "string", "enum": ["metaAndAssetCtxs"] } }, "required": ["type"]
         },
         "MetaAndAssetCtxsResponse": {
             "type": "array", "minItems": 2, "maxItems": 2,
             "items": [ { "$ref": "#/components/schemas/MetaResponse" }, { "type": "array", "items": { "$ref": "#/components/schemas/ApiAssetCtx" } } ],
             "description": "[MetaResponse, List[ApiAssetCtx]]"
         },
         "AllMidsRequestPayload": {
              "type": "object", "properties": { "type": { "type": "string", "enum": ["allMids"] } }, "required": ["type"]
         },
         "AllMidsResponse": {
              "type": "object",
              "additionalProperties": { "type": "string", "format": "decimal" },
              "description": "Dictionary mapping asset symbols to their mid prices (string decimal)."
         },
  
         // User State
         "UserStateRequestPayload": {
            "type": "object",
            "properties": {
              "type": { "type": "string", "enum": ["clearinghouseState"] },
              "user": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
            },
            "required": ["type", "user"]
          },
         "UserStateResponse": { "$ref": "#/components/schemas/ApiClearinghouseState" },
  
         // Open Orders
         "OpenOrdersRequestPayload": {
            "type": "object",
            "properties": {
              "type": { "type": "string", "enum": ["openOrders"] },
              "user": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
            },
            "required": ["type", "user"]
          },
         "OpenOrdersResponse": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/ApiOpenOrder" },
              "description": "Array of open orders."
          },
  
         // User Fills
         "UserFillsRequestPayload": {
              "type": "object",
              "properties": {
                  "type": { "type": "string", "enum": ["userFills"] },
                  "user": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
              },
              "required": ["type", "user"]
         },
         "UserFillsResponse": {
             "type": "array",
             "items": { "$ref": "#/components/schemas/ApiUserFill" },
             "description": "Array of user fills."
         },
  
         // L2 Book
         "L2BookRequestPayload": {
              "type": "object",
              "properties": {
                  "type": { "type": "string", "enum": ["l2Book"] },
                  "coin": { "type": "string", "description": "Asset symbol." }
              },
              "required": ["type", "coin"]
         },
         "L2BookResponse": { "$ref": "#/components/schemas/ApiL2Book" },
  
         // Recent Trades (Public)
         "RecentTradesRequestPayload": {
             "type": "object",
             "properties": {
                 "type": { "type": "string", "enum": ["recentTrades"] },
                 "coin": { "type": "string", "description": "Asset symbol." }
             },
             "required": ["type", "coin"]
         },
         "RecentTradesResponse": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/ApiPublicTrade" },
              "description": "Array of recent public trades."
          },
  
         // Candle Snapshot
         "CandleSnapshotRequestPayload": {
              "type": "object",
              "properties": {
                  "type": { "type": "string", "enum": ["candleSnapshot"] },
                  "coin": { "type": "string", "description": "Asset symbol." },
                  "interval": { "type": "string", "description": "e.g., '1m', '1h', '1d'" },
                  "startTime": { "type": "integer", "format": "int64", "description": "Timestamp (ms)." },
                  "endTime": { "type": "integer", "format": "int64", "description": "Timestamp (ms)." }
              },
              "required": ["type", "coin", "interval", "startTime", "endTime"]
         },
          "CandleSnapshotResponse": {
               "type": "object",
               "properties": {
                   "t": { "type": "array", "items": {"type": "integer", "format": "int64"}, "description": "Timestamps (ms)"},
                   "o": { "type": "array", "items": {"type": "string", "format": "decimal"}, "description": "Opens"},
                   "h": { "type": "array", "items": {"type": "string", "format": "decimal"}, "description": "Highs"},
                   "l": { "type": "array", "items": {"type": "string", "format": "decimal"}, "description": "Lows"},
                   "c": { "type": "array", "items": {"type": "string", "format": "decimal"}, "description": "Closes"},
                   "v": { "type": "array", "items": {"type": "string", "format": "decimal"}, "description": "Volumes"},
                   "s": { "type": "string", "description": "Indicates success, e.g., 'ok'"}
               },
               "required": ["t", "o", "h", "l", "c", "v", "s"]
           },
  
         // --- Schemas for /exchange Payloads (Requests & Responses) ---
  
         "PlaceOrderActionPayload": { "$ref": "#/components/schemas/ApiOrderSpec" }, // Based on SDK signing.py
         "CancelActionPayload": { "$ref": "#/components/schemas/ApiCancelRequest" }, // Based on SDK signing.py
         "CancelByCloidActionPayload": { "$ref": "#/components/schemas/ApiCancelByCloidRequest" }, // Based on SDK signing.py
         "ModifyOrderActionPayload": { "$ref": "#/components/schemas/ApiModifyOrderRequest" }, // Based on SDK signing.py
         "UpdateLeverageActionPayload": { "$ref": "#/components/schemas/ApiUpdateLeverageRequest" }, // Based on SDK signing.py
         "UpdateIsolatedMarginActionPayload": { "$ref": "#/components/schemas/ApiUpdateIsolatedMarginRequest" }, // Based on SDK signing.py
  
         "ExchangeActionResponse": {
              "type": "object",
              "properties": {
                  "status": { "type": "string", "enum": ["ok"], "description": "Success indicator." },
                  "data": { "$ref": "#/components/schemas/ExchangeResponseData" }
              },
              "required": ["status"]
          },
         "ExchangeResponseData": {
              "type": "object",
              "description": "Structure within the 'data' field of a successful exchange action.",
              "properties": {
                  "type": { "type": "string", "description": "Indicates the type of response ('order', 'cancel', etc.)"},
                  "statuses": {
                      "type": "array",
                      "items": {
                          "oneOf": [
                               { "type": "string", "enum": ["canceled", "modified"] },
                               { "$ref": "#/components/schemas/ApiExchangeStatusObject" }
                          ],
                          "description": "Status for each action in the request. Can be simple strings or objects."
                      }
                  }
              },
              "required": ["type", "statuses"]
          },
          "ApiExchangeStatusObject": {
               "type": "object",
               "description": "Object status often returned for order placements.",
               "properties": {
                    "resting": { "$ref": "#/components/schemas/ApiOrder", "nullable": True },
                    "filled": { "$ref": "#/components/schemas/ApiOrder", "nullable": True }, # Often contains fill info
                    "error": { "type": "string", "nullable": True }
               }
               # Requires one of resting, filled, or error
           },
  
         // --- Reusable Component Schemas (Based on SDK types.py) ---
  
         "ApiAssetDefinition": {
               "type": "object", "description": "Definition of an asset/market from 'meta' response.",
               "properties": {
                   "name": { "type": "string" },
                   "szDecimals": { "type": "integer", "description": "Size decimals." },
                   "maxLeverage": { "type": "integer" },
                   "onlyIsolated": { "type": "boolean" }
                   // Add other fields from SDK Asset... impactPx, markPx, indexPx, oraclePx, etc.
               },
               "required": ["name", "szDecimals", "maxLeverage", "onlyIsolated"]
           },
          "ApiAssetCtx": {
                "type": "object", "description": "Contextual info for an asset from 'metaAndAssetCtxs'.",
                "properties": {
                     "name": { "type": "string" },
                     "funding": { "type": "string", "format": "decimal", "description": "Hourly funding rate string." },
                     "markPx": { "type": "string", "format": "decimal" },
                     "prevDayPx": { "type": "string", "format": "decimal" },
                     "dayNtlVlm": { "type": "string", "format": "decimal", "description": "Daily notional volume."},
                     "impactPx": { "type": "string", "format": "decimal", "nullable": True}
                     // Add openInterest, oraclePx from SDK AssetCtx...
                },
                "required": ["name", "funding", "markPx", "prevDayPx", "dayNtlVlm"]
            },
          "ApiClearinghouseState": { // UserStateResponse maps to this
             "type": "object", "description": "User state including positions and margin. Based on SDK ClearinghouseState.",
             "properties": {
                  "assetPositions": { "type": "array", "items": { "$ref": "#/components/schemas/ApiAssetPosition" } },
                  "marginSummary": { "$ref": "#/components/schemas/ApiMarginSummary" },
                  "crossMaintenanceMarginUsed": { "type": "string", "format": "decimal" },
                  "crossMarginSummary": { "$ref": "#/components/schemas/ApiMarginSummary" },
                  "isolatedMaintenanceMarginUsed": { "type": "string", "format": "decimal" },
                  "isolatedMarginSummary": { "$ref": "#/components/schemas/ApiMarginSummary" },
                  "withdrawable": { "type": "string", "format": "decimal" }
                  // Add accountValue, totalRawUsd, totalNtlPos from SDK...
             },
             "required": [
                 "assetPositions", "marginSummary", "crossMaintenanceMarginUsed",
                 "crossMarginSummary", "isolatedMaintenanceMarginUsed", "isolatedMarginSummary",
                 "withdrawable"
              ]
         },
         "ApiAssetPosition": {
              "type": "object", "description": "User's position details for a specific asset.",
              "properties": {
                  "asset": { "type": "string" },
                  "position": { "$ref": "#/components/schemas/ApiPositionInfo" }
              },
              "required": ["asset", "position"]
          },
          "ApiPositionInfo": {
               "type": "object", "description": "Detailed info about a position.",
               "properties": {
                   "coin": { "type": "string" },
                   "entryPx": { "type": "string", "format": "decimal", "nullable": True },
                   "leverage": { "$ref": "#/components/schemas/ApiLeverage" },
                   "liquidationPx": { "type": "string", "format": "decimal", "nullable": True },
                   "marginUsed": { "type": "string", "format": "decimal" },
                   "maxLeverage": { "type": "integer" },
                   "positionValue": { "type": "string", "format": "decimal" },
                   "returnOnEquity": { "type": "string", "format": "decimal" },
                   "szi": { "type": "string", "format": "decimal", "description": "Size (positive=long, negative=short)"},
                   "unrealizedPnl": { "type": "string", "format": "decimal" }
               },
              "required": [
                  "coin", "leverage", "marginUsed", "maxLeverage", "positionValue",
                  "returnOnEquity", "szi", "unrealizedPnl"
                  # entryPx is optional if size is zero
               ]
          },
           "ApiLeverage": {
               "type": "object", "description": "Leverage settings.",
               "properties": {
                   "type": { "$ref": "#/components/schemas/ApiLeverageType" },
                   "value": { "type": "integer" }
               },
               "required": ["type", "value"]
           },
          "ApiMarginSummary": {
              "type": "object", "description": "Margin summary.",
              "properties": {
                   "accountValue": { "type": "string", "format": "decimal"},
                   "totalMarginUsed": { "type": "string", "format": "decimal"},
                   "totalNtlPos": { "type": "string", "format": "decimal"},
                   "totalRawUsd": { "type": "string", "format": "decimal"}
              },
              "required": ["accountValue", "totalMarginUsed", "totalNtlPos", "totalRawUsd"]
          },
         "ApiOpenOrder": {
              "type": "object", "description": "Structure for one open order.",
              "properties": {
                  "order": { "$ref": "#/components/schemas/ApiOrder" },
                  "trigger": { "$ref": "#/components/schemas/ApiTriggerInfo", "nullable": True }
              },
              "required": ["order"]
          },
         "ApiOrder": {
              "type": "object", "description": "Core order details.",
              "properties": {
                  "oid": { "type": "integer", "format": "int64" },
                  "cloid": { "type": "string", "nullable": True, "description": "Must be bytes32 hex if provided by client."},
                  "asset": { "type": "string" },
                  "side": { "$ref": "#/components/schemas/ApiSide" },
                  "limitPx": { "type": "string", "format": "decimal" },
                  "sz": { "type": "string", "format": "decimal" },
                  "timestamp": { "type": "integer", "format": "int64", "description": "Creation ms." },
                  "orderType": { "$ref": "#/components/schemas/ApiOrderType" },
                  "reduceOnly": { "type": "boolean" },
                  "remainingSz": { "type": "string", "format": "decimal" },
                  "status": { "type": "string", "enum": ["open"], "description": "Status for open orders."},
                  "statusTimestamp": { "type": "integer", "format": "int64", "description": "Last update ms." }
              },
              "required": ["oid", "asset", "side", "limitPx", "sz", "timestamp", "orderType", "reduceOnly", "remainingSz", "status", "statusTimestamp"]
          },
          "ApiOrderTypeLimit": {
               "type": "object", "properties": { "limit": { "$ref": "#/components/schemas/ApiTifLimit" } }, "required": ["limit"]
           },
           "ApiOrderTypeMarket": {
                "type": "object", "properties": { "market": { "type": "object"} }, "required": ["market"]
            },
           "ApiTifLimit": {
                "type": "object", "properties": { "tif": { "$ref": "#/components/schemas/ApiTif" } }, "required": ["tif"]
            },
          "ApiTriggerInfo": {
              "type": "object", "description": "Trigger details if present.",
              "properties": {
                  "triggerPx": { "type": "string", "format": "decimal" },
                  "isMarket": { "type": "boolean" },
                  "tpsl": { "$ref": "#/components/schemas/ApiTriggerType" }
              },
              "required": ["triggerPx", "isMarket", "tpsl"]
          },
         "ApiUserFill": {
              "type": "object", "description": "User fill/trade details.",
              "properties": {
                  "tid": { "type": "integer", "format": "int64" },
                  "coin": { "type": "string" },
                  "px": { "type": "string", "format": "decimal" },
                  "sz": { "type": "string", "format": "decimal" },
                  "time": { "type": "integer", "format": "int64", "description": "ms." },
                  "side": { "$ref": "#/components/schemas/ApiSide" },
                  "oid": { "type": "integer", "format": "int64" },
                  "startPosition": { "type": "string", "format": "decimal"},
                  "dir": { "type": "string"},
                  "hash": { "type": "string" },
                  "fee": { "type": "string", "format": "decimal"},
                  "isMaker": { "type": "boolean" },
                  "liquidationMarkPx": { "type": "string", "format": "decimal", "nullable": True },
                  "cloid": { "type": "string", "nullable": True }
              },
              "required": ["tid", "coin", "px", "sz", "time", "side", "oid", "startPosition", "dir", "hash", "fee", "isMaker"]
          },
         "ApiL2Book": {
               "type": "object", "description": "L2 Order Book snapshot.",
               "properties": {
                   "coin": { "type": "string" },
                   "levels": {
                       "type": "array", "minItems": 2, "maxItems": 2,
                       "items": [ { "type": "array", "items": { "$ref": "#/components/schemas/ApiBookLevel" } }, { "type": "array", "items": { "$ref": "#/components/schemas/ApiBookLevel" } } ],
                       "description": "[Bids[], Asks[]]"
                    },
                   "time": { "type": "integer", "format": "int64", "description": "ms." }
               },
               "required": ["coin", "levels", "time"]
           },
           "ApiBookLevel": {
                "type": "object", "description": "A single price level (px, sz, n).",
                "properties": {
                    "px": { "type": "string", "format": "decimal" },
                    "sz": { "type": "string", "format": "decimal" },
                    "n": { "type": "integer", "description": "Number of orders."}
                },
                "required": ["px", "sz", "n"]
            },
           "ApiPublicTrade": {
                "type": "object", "description": "A public trade.",
                "properties": {
                     "coin": { "type": "string" },
                     "side": { "$ref": "#/components/schemas/ApiSide" },
                     "px": { "type": "string", "format": "decimal" },
                     "sz": { "type": "string", "format": "decimal" },
                     "time": { "type": "integer", "format": "int64", "description": "ms." },
                     "hash": { "type": "string" }
                     // SDK also has 'tid', but not shown in docs example here?
                },
                "required": ["coin", "side", "px", "sz", "time", "hash"]
            },
  
         // --- Schemas for Exchange Action Payloads (Based on SDK signing.py) ---
         "ApiOrderSpec": {
              "type": "object", "description": "Payload for placing an order.",
              "properties": {
                 "asset": { "type": "integer", "description": "Asset index (check constants.py)." },
                 "isBuy": { "type": "boolean" },
                 "limitPx": { "type": "string", "format": "decimal", "description": "Limit price string." },
                 "sz": { "type": "number", "format": "float", "description": "Size as float." },
                 "reduceOnly": { "type": "boolean" },
                 "orderType": { "$ref": "#/components/schemas/ApiOrderType" },
                 "trigger": { "$ref": "#/components/schemas/ApiTriggerSpec", "nullable": True },
                 "cloid": { "type": "string", "nullable": True, "description": "Client Order ID (bytes32 hex string)." }
             },
             "required": ["asset", "isBuy", "limitPx", "sz", "reduceOnly", "orderType"]
         },
         "ApiOrderTypeSpec": { # Used within ApiOrderSpec
              "type": "object",
              "oneOf": [
                   {"$ref": "#/components/schemas/ApiOrderTypeLimit"},
                   {"$ref": "#/components/schemas/ApiOrderTypeMarket"}
              ]
         },
         "ApiTriggerSpec": { # Used within ApiOrderSpec
              "type": "object",
              "properties": {
                  "triggerPx": { "type": "string", "format": "decimal" },
                  "isMarket": { "type": "boolean" },
                  "tpsl": { "$ref": "#/components/schemas/ApiTriggerType" }
              },
              "required": ["triggerPx", "isMarket", "tpsl"]
          },
         "ApiCancelRequest": {
              "type": "object", "description": "Payload for canceling by exchange OID.",
              "properties": {
                  "asset": { "type": "integer", "description": "Asset index." },
                  "oid": { "type": "integer", "format": "int64", "description": "Order ID." }
              },
              "required": ["asset", "oid"]
          },
          "ApiCancelByCloidRequest": {
              "type": "object", "description": "Payload for canceling by client OID.",
              "properties": {
                  "asset": { "type": "integer", "description": "Asset index." },
                  "cloid": { "type": "string", "description": "Client Order ID (bytes32 hex)." }
              },
              "required": ["asset", "cloid"]
          },
         "ApiModifyOrderRequest": {
              "type": "object", "description": "Payload for modifying an order.",
              "properties": {
                  "oid": { "type": "integer", "format": "int64" },
                  "order": { "$ref": "#/components/schemas/ApiOrderSpec" } # Reuses order spec
              },
              "required": ["oid", "order"]
          },
         "ApiUpdateLeverageRequest": {
               "type": "object", "description": "Payload for updating leverage.",
               "properties": {
                   "asset": { "type": "integer", "description": "Asset index." },
                   "isCross": { "type": "boolean" },
                   "leverage": { "type": "integer" }
               },
               "required": ["asset", "isCross", "leverage"]
           },
         "ApiUpdateIsolatedMarginRequest": {
                "type": "object", "description": "Payload for updating isolated margin.",
                "properties": {
                    "asset": { "type": "integer", "description": "Asset index." },
                    "isBuy": { "type": "boolean" },
                    "ntli": { "type": "integer", "format": "int64", "description": "Amount string?" } # Type needs verification
                },
                "required": ["asset", "isBuy", "ntli"]
            }
  
      }
    }
  }