interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445447&interval=1h&limit=100&startTime=1749359047&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"close":"149.92","end":"2025-06-08 07:00:00","high":"150.49","low":"149.85","open":"149.89","quoteVolume":"1884822.4789","start":"2025-06-08
        06:00:00","trades":"1323","volume":"12548.64"},{"close":"149.33","end":"2025-06-08
        08:00:00","high":"150.19","low":"149.18","open":"149.92","quoteVolume":"2169673.8391","start":"2025-06-08
        07:00:00","trades":"2129","volume":"14485.84"},{"close":"149.03","end":"2025-06-08
        09:00:00","high":"149.7","low":"148.94","open":"149.29","quoteVolume":"2338361.7284","start":"2025-06-08
        08:00:00","trades":"1636","volume":"15656.86"},{"close":"148.49","end":"2025-06-08
        10:00:00","high":"149.13","low":"14[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445447&interval=1h&limit=100&startTime=1749359047&symbol=BTC_USDC_PERP
  response:
    body:
      string: '[{"close":"105470.3","end":"2025-06-08 07:00:00","high":"105611.2","low":"105440.8","open":"105453.1","quoteVolume":"645864.372781","start":"2025-06-08
        06:00:00","trades":"923","volume":"6.12053"},{"close":"105423.3","end":"2025-06-08
        08:00:00","high":"105[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445447&interval=1h&limit=100&startTime=1749359047&symbol=ETH_USDC_PERP
  response:
    body:
      string: '[{"close":"2512.89","end":"2025-06-08 07:00:00","high":"2517.38","low":"2510.73","open":"2512.23","quoteVolume":"276880.625866","start":"2025-06-08
        06:00:00","trades":"300","volume":"110.1358"},{"close":"2514.33","end":"2025-06-08
        08:00:00","high":"2516.17[...]
