interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445445&interval=1h&limit=100&startTime=1749441845&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"close":"149.84","end":"2025-06-09 06:00:00","high":"150.9","low":"149.81","open":"150.9","quoteVolume":"1648985.2491","start":"2025-06-09
        05:00:00","trades":"1374","volume":"10970.15"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
