interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445439&interval=1h&limit=100&startTime=1749441839&symbol=ETH_USDC_PERP
  response:
    body:
      string: '[{"close":"2480.98","end":"2025-06-09 06:00:00","high":"2492.44","low":"2478.74","open":"2485.82","quoteVolume":"1779277.682888","start":"2025-06-09
        05:00:00","trades":"965","volume":"716.1655"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
