interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445438&interval=1h&limit=100&startTime=1749441838&symbol=BTC_USDC_PERP
  response:
    body:
      string: '[{"close":"105406.5","end":"2025-06-09 06:00:00","high":"105539.3","low":"105369.4","open":"105474.9","quoteVolume":"1054548.512391","start":"2025-06-09
        05:00:00","trades":"551","volume":"9.99956"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
