interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445441&interval=1m&limit=100&startTime=1749445141&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"close":"150.74","end":"2025-06-09 05:01:00","high":"150.9","low":"150.74","open":"150.9","quoteVolume":"17450.8639","start":"2025-06-09
        05:00:00","trades":"21","volume":"115.71"},{"close":"150.76","end":"2025-06-09
        05:02:00","high":"150.77","low":"150.72","open":"150.73","quoteVolume":"57018.3212","start":"2025-06-09
        05:01:00","trades":"37","volume":"378.23"},{"close":"150.74","end":"2025-06-09
        05:03:00","high":"150.75","low":"150.7","open":"150.75","quoteVolume":"38035.1824","start":"2025-06-09
        05:02:00","trades":"17","volume":"252.38"},{"close":"150.44","end":"2025-06-09
        05:04:00","high":"150.69","low":"150.43","open":"150.69","quoteVolume":"112684.8512","start":"2025-06-09
        05:03:00","trades":"109","volume":"748.43"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445441&interval=1h&limit=100&startTime=1749441841&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"close":"149.84","end":"2025-06-09 06:00:00","high":"150.9","low":"149.81","open":"150.9","quoteVolume":"1648985.2491","start":"2025-06-09
        05:00:00","trades":"1374","volume":"10970.15"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
