interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445449&interval=1h&limit=100&startTime=1749416649&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"close":"152.93","end":"2025-06-08 23:00:00","high":"154.5","low":"152.86","open":"154.46","quoteVolume":"2108290.4192","start":"2025-06-08
        22:00:00","trades":"1681","volume":"13719.51"},{"close":"152.47","end":"2025-06-09
        00:00:00","high":"153.02","low":"152.17","open":"152.95","quoteVolume":"1521389.3752","start":"2025-06-08
        23:00:00","trades":"1197","volume":"9968.72"},{"close":"152.38","end":"2025-06-09
        01:00:00","high":"153.19","low":"151.87","open":"152.41","quoteVolume":"2975654.9661","start":"2025-06-09
        00:00:00","trades":"2175","volume":"19525.99"},{"close":"151.99","end":"2025-06-09
        02:00:00","high":"152.67","low":"151.73","open":"152.4","quoteVolume":"1820829.5099","start":"2025-06-09
        01:00:00","trades":"1707","volume":"11970.9"},{"close":"151.77","end":"2025-06-09
        03:00:00","high":"152.49","low":"151.56","open":"151.95","quoteVolume":"1046760.7846","start":"2025-06-09
        02:00:00","trades":"1160","volume":"6890.27"},{"close":"151.58","end":"2025-06-09
        04:00:00","high":"151.83","low":"150.86","open":"151.75","quoteVolume":"2008430.5433","start":"2025-06-09
        03:00:00","trades":"1733","volume":"13281.15"},{"close":"150.89","end":"2025-06-09
        05:00:00","high":"151.91","low":"150.71","open":"151.58","quoteVolume":"1396515.9846","start":"2025-06-09
        04:00:00","trades":"1446","volume":"9230.44"},{"close":"149.84","end":"2025-06-09
        06:00:00","high":"150.9","low":"149.81","open":"150.9","quoteVolume":"1648985.2491","start":"2025-06-09
        05:00:00","trades":"1374","volume":"10970.15"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
