interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"146.07","high":"157.32","lastPrice":"156.69","low":"144.29","priceChange":"10.62","priceChangePercent":"0.072705","quoteVolume":"14544935.4055","symbol":"SOL_USDC","trades":"101167","volume":"96381.65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
