interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2540.01","high":"2578.71","lastPrice":"2577.46","low":"2493.03","priceChange":"37.45","priceChangePercent":"0.014744","quoteVolume":"6095891.881529","symbol":"ETH_USDC","trades":"6912","volume":"2401.134"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
