interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"105588.8","high":"106498.1","lastPrice":"106450.7","low":"104538.2","priceChange":"861.9","priceChangePercent":"0.008163","quoteVolume":"2707274.629671","symbol":"BTC_USDC","trades":"5453","volume":"25.64636"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
