interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445563&interval=1h&limit=100&startTime=1749441963&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"149.91","end":"2025-06-09 06:00:00","high":"150.95","low":"149.91","open":"150.95","quoteVolume":"272965.8322","start":"2025-06-09
        05:00:00","trades":"1445","volume":"1814.84"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
