interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445564&interval=1h&limit=100&startTime=1749441964&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105450.6","end":"2025-06-09 06:00:00","high":"105591.5","low":"105395.1","open":"105506.2","quoteVolume":"609708.451346","start":"2025-06-09
        05:00:00","trades":"3389","volume":"5.78096"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
