interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445565&interval=1h&limit=100&startTime=1749359165&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105507.2","end":"2025-06-08 07:00:00","high":"105644.5","low":"105502.3","open":"105502.3","quoteVolume":"102928.2347","start":"2025-06-08
        06:00:00","trades":"327","volume":"0.97481"},{"close":"105494.7","end":"2025-06-08
        08:00:00","high":"105625.3","low":"105476.3","open":"105507.2","quoteVolume":"94696.644338","start":"2025-06-08
        07:00:00","trades":"344","volume":"0.89718"},{"close":"105421.4","end":"2025-06-08
        09:00:00","high":"105563.6","low":"105421.3","open":"105496.8","quoteVolume":"45342.141004","start":"2025-06-08
        08:00:00","trades":"209","volume":"0.42975"},{"close":"105219.2","end":"2025-06-08
        10:00:00","high":"105[...]
