interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445566&interval=1h&limit=100&startTime=1749359166&symbol=ETH_USDC
  response:
    body:
      string: '[{"close":"2514.6","end":"2025-06-08 07:00:00","high":"2517.44","low":"2512.64","open":"2514.23","quoteVolume":"30781.436664","start":"2025-06-08
        06:00:00","trades":"75","volume":"12.2375"},{"close":"2515.95","end":"2025-06-08
        08:00:00","high":"2517.6","low":"2513.26","open":"2515.4","quoteVolume":"72125.701613","start":"2025-06-08
        07:00:00","trades":"84","volume":"28.6749"},{"close":"2517.94","end":"2025-06-08
        09:00:00","high":"2522.36","low":"2516.58","open":"2516.58","quoteVolume":"58675.413611","start":"2025-06-08
        08:00:00","trades":"132","volume":"23.2896"},{"close":"2498.67","end":"2025-06-08
        10:00:00","high":"2518.59","low":[...]
