interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749445565&interval=1h&limit=100&startTime=1749359165&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"150.01","end":"2025-06-08 07:00:00","high":"150.55","low":"149.91","open":"149.94","quoteVolume":"192894.7572","start":"2025-06-08
        06:00:00","trades":"1092","volume":"1283.75"},{"close":"149.37","end":"2025-06-08
        08:00:00","high":"150.25","low":"149.24","open":"150.01","quoteVolume":"195287.6063","start":"2025-06-08
        07:00:00","trades":"1008","volume":"1303.3"},{"close":"149.09","end":"2025-06-08
        09:00:00","high":"149.79","low":"149.05","open":"149.38","quoteVolume":"184391.2725","start":"2025-06-08
        08:00:00","trades":"1079","volume":"1233.61"},{"close":"148.54","end":"2025-06-08
        10:00:00","high":"149.19","low":"147.9",[...]
