interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"105531.6","high":"106448.3","lastPrice":"106429.7","low":"104459.8","priceChange":"898.1","priceChangePercent":"0.00851","quoteVolume":"69047866.910169","symbol":"BTC_USDC_PERP","trades":"56793","volume":"654.87108"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
