interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"2539.61","high":"2578.41","lastPrice":"2576.03","low":"2491.77","priceChange":"36.42","priceChangePercent":"0.014341","quoteVolume":"59719651.945379","symbol":"ETH_USDC_PERP","trades":"42661","volume":"23526.3987"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
