interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"154.75","high":"157.04","lastPrice":"156.4","low":"149.68","priceChange":"1.65","priceChangePercent":"0.010662","quoteVolume":"10525369.2388","symbol":"SOL_USDC","trades":"53070","volume":"68372.29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
