interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"106353.7","high":"108836.8","lastPrice":"108748","low":"105380.6","priceChange":"2394.3","priceChangePercent":"0.022513","quoteVolume":"9711236.592379","symbol":"BTC_USDC","trades":"51604","volume":"90.74441"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
