interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"109667.7","high":"110404","lastPrice":"107956.6","low":"107388.1","priceChange":"-1711.1","priceChangePercent":"-0.015603","quoteVolume":"4180586.090759","symbol":"BTC_USDC","trades":"9474","volume":"38.31017"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
