interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"152.2","high":"161.79","lastPrice":"159.65","low":"149.62","priceChange":"7.45","priceChangePercent":"0.048949","quoteVolume":"67897161.0211","symbol":"SOL_USDC_PERP","trades":"57088","volume":"436362.16"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
