interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2535.42","high":"2591.33","lastPrice":"2585.7","low":"2478.91","priceChange":"50.28","priceChangePercent":"0.019831","quoteVolume":"9015651.535299","symbol":"ETH_USDC","trades":"9645","volume":"3564.393"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
