interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"106269.1","high":"108908.1","lastPrice":"108892.5","low":"105380.6","priceChange":"2623.4","priceChangePercent":"0.024686","quoteVolume":"9881309.002091","symbol":"BTC_USDC","trades":"53513","volume":"92.30601"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
