interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2795.98","high":"2879.4","lastPrice":"2772.31","low":"2746.1","priceChange":"-23.67","priceChangePercent":"-0.008466","quoteVolume":"11332916.891093","symbol":"ETH_USDC","trades":"9424","volume":"4029.2657"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
