interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"154.41","high":"157.55","lastPrice":"157.42","low":"149.62","priceChange":"3.01","priceChangePercent":"0.019494","quoteVolume":"60068411.1682","symbol":"SOL_USDC_PERP","trades":"50996","volume":"390269.55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
