interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2501.46","high":"2727.24","lastPrice":"2689.8","low":"2478.91","priceChange":"188.34","priceChangePercent":"0.075292","quoteVolume":"10451549.698528","symbol":"ETH_USDC","trades":"10572","volume":"4063.1111"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
