interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2524.12","high":"2544.62","lastPrice":"2535.37","low":"2492.8","priceChange":"11.25","priceChangePercent":"0.004457","quoteVolume":"6054091.659454","symbol":"ETH_USDC","trades":"5283","volume":"2398.9765"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
