interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"150.07","high":"155.36","lastPrice":"152.45","low":"147.87","priceChange":"2.38","priceChangePercent":"0.015859","quoteVolume":"39612712.2296","symbol":"SOL_USDC_PERP","trades":"33074","volume":"262064.94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
