interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"152.26","high":"161.88","lastPrice":"159.67","low":"149.68","priceChange":"7.41","priceChangePercent":"0.048667","quoteVolume":"10973825.2578","symbol":"SOL_USDC","trades":"59678","volume":"70626.96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
