interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2536.61","high":"2610","lastPrice":"2608.76","low":"2478.91","priceChange":"72.15","priceChangePercent":"0.028443","quoteVolume":"8922558.952637","symbol":"ETH_USDC","trades":"9647","volume":"3526.1252"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
