interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"166.27","high":"168.34","lastPrice":"159.62","low":"158.81","priceChange":"-6.65","priceChangePercent":"-0.039995","quoteVolume":"19026408.4461","symbol":"SOL_USDC","trades":"103293","volume":"116028.45"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
