interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"154.46","high":"157.59","lastPrice":"157.59","low":"149.68","priceChange":"3.13","priceChangePercent":"0.020264","quoteVolume":"10624599.6533","symbol":"SOL_USDC","trades":"53461","volume":"68994.72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
