interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"150.16","high":"155.34","lastPrice":"152.49","low":"147.9","priceChange":"2.33","priceChangePercent":"0.015517","quoteVolume":"6062461.9432","symbol":"SOL_USDC","trades":"34342","volume":"40091.2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
