interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"150.95","high":"154.8","lastPrice":"154.74","low":"147.9","priceChange":"3.79","priceChangePercent":"0.025108","quoteVolume":"5765418.0868","symbol":"SOL_USDC","trades":"32795","volume":"38223.22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
