interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"166.27","high":"168.31","lastPrice":"159.59","low":"158.68","priceChange":"-6.68","priceChangePercent":"-0.040176","quoteVolume":"104927475.4063","symbol":"SOL_USDC_PERP","trades":"67544","volume":"639607.23"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
