interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"154.68","high":"157","lastPrice":"156.32","low":"149.62","priceChange":"1.64","priceChangePercent":"0.010603","quoteVolume":"59593662.6372","symbol":"SOL_USDC_PERP","trades":"50360","volume":"387346.83"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
