interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"154.75","high":"157.04","lastPrice":"156.4","low":"149.68","priceChange":"1.65","priceChangePercent":"0.010662","quoteVolume":"10525369.2388","symbol":"SOL_USDC","trades":"53070","volume":"68372.29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"106353.7","high":"108836.8","lastPrice":"108748","low":"105380.6","priceChange":"2394.3","priceChangePercent":"0.022513","quoteVolume":"9711236.592379","symbol":"BTC_USDC","trades":"51604","volume":"90.74441"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
