interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"105621.3","high":"106541","lastPrice":"105729.7","low":"105069.7","priceChange":"108.4","priceChangePercent":"0.001026","quoteVolume":"2228553.190471","symbol":"BTC_USDC","trades":"14701","volume":"21.05775"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
