interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"105956.3","high":"106429","lastPrice":"106353.6","low":"105069.7","priceChange":"397.3","priceChangePercent":"0.00375","quoteVolume":"2311028.883364","symbol":"BTC_USDC","trades":"15404","volume":"21.8417"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
