interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=ETH_USDC
  response:
    body:
      string: '{"firstPrice":"2526.25","high":"2550.41","lastPrice":"2509.45","low":"2492.8","priceChange":"-16.8","priceChangePercent":"-0.00665","quoteVolume":"5272792.281486","symbol":"ETH_USDC","trades":"5790","volume":"2089.9647"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
