interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC_PERP
  response:
    body:
      string: '{"firstPrice":"150.88","high":"154.75","lastPrice":"154.69","low":"147.87","priceChange":"3.81","priceChangePercent":"0.025252","quoteVolume":"36188015.9432","symbol":"SOL_USDC_PERP","trades":"30786","volume":"240114.75"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
