interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"150.16","high":"155.34","lastPrice":"152.5","low":"147.9","priceChange":"2.34","priceChangePercent":"0.015583","quoteVolume":"6027305.0974","symbol":"SOL_USDC","trades":"34313","volume":"39860.64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
