interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=SOL_USDC
  response:
    body:
      string: '{"firstPrice":"152.26","high":"161.88","lastPrice":"159.67","low":"149.68","priceChange":"7.41","priceChangePercent":"0.048667","quoteVolume":"10973825.2578","symbol":"SOL_USDC","trades":"59678","volume":"70626.96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/ticker?symbol=BTC_USDC
  response:
    body:
      string: '{"firstPrice":"105709.3","high":"110672.6","lastPrice":"109683.7","low":"105380.6","priceChange":"3974.4","priceChangePercent":"0.037597","quoteVolume":"11786192.981495","symbol":"BTC_USDC","trades":"56143","volume":"109.42388"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
