interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/api/v1/position
  response:
    body:
      string: '[{"breakEvenPrice":"156.7105","cumulativeFundingPayment":"0","cumulativeInterest":"0","entryPrice":"156.64","estLiquidationPrice":"0","imf":"0.02","imfFunction":{"base":"0.02","factor":"0.0001275","type":"sqrt"},"markPrice":"156.59068265","mmf":"0.0125","mmfFunction":{"base":"0.0125","factor":"0.0000765","type":"sqrt"},"netCost":"1.5664","netExposureNotional":"1.5659068265","netExposureQuantity":"0.01","netQuantity":"0.01","pnlRealized":"0","pnlUnrealized":"-0.000493","positionId":"1921010223","subaccountId":4,"symbol":"SOL_USDC_PERP","userId":1670824}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/api/v1/position
  response:
    body:
      string: '[{"breakEvenPrice":"156.7105","cumulativeFundingPayment":"0","cumulativeInterest":"0","entryPrice":"156.64","estLiquidationPrice":"0","imf":"0.02","imfFunction":{"base":"0.02","factor":"0.0001275","type":"sqrt"},"markPrice":"156.59068265","mmf":"0.0125","mmfFunction":{"base":"0.0125","factor":"0.0000765","type":"sqrt"},"netCost":"1.5664","netExposureNotional":"1.5659068265","netExposureQuantity":"0.01","netQuantity":"0.01","pnlRealized":"0","pnlUnrealized":"-0.000493","positionId":"1921010223","subaccountId":4,"symbol":"SOL_USDC_PERP","userId":1670824}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
