interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/wapi/v1/history/orders?from=1749445588159&limit=50&to=1750050388159
  response:
    body:
      string: '[{"clientId":null,"createdAt":"2025-06-16T05:06:26.969","executedQuantity":"0","executedQuoteQuantity":"0","expiryReason":null,"id":"1921068795","orderType":"Limit","postOnly":false,"price":"150.42","quantity":"0.01","quoteQuantity":"1.5042","selfTradePrevention":"RejectTaker","side":"Bid","status":"New","stopLossLimitPrice":null,"stopLossTriggerBy":null,"stopLossTriggerPrice":null,"strategyId":null,"symbol":"SOL_USDC","systemOrderType":null,"takeProfitLimitPrice":null,"takeProfitTriggerBy":null,"takeProfitTriggerPrice":null,"timeInForce":"GTC","triggerBy":null,"triggerPrice":null,"triggerQuantity":null},{"clientId":null,"createdAt":"2025-06-16T05:04:41.443","executedQuantity":"0","executedQuoteQuantity":"0","expiryReason":"ImmediateOrCancel","id":"1921012212","orderType":"Limit","postOnly":false,"price":"148.83","quantity":"0.5","quoteQuantity":"74.415","selfTradePrevention":"RejectTaker","side":"Bid","status":"Expired","stopLossLimitPrice":null,"stopLossTriggerBy":null,"stopLossTriggerPrice":null,"strategyId":null,"symbol":"SOL_USDC_PERP","systemOrderType":null,"takeProfitLimitPrice":nul[...]
