interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=20&symbol=ETH_USDC_PERP
  response:
    body:
      string: '[{"id":6606017,"isBuyerMaker":true,"price":"2576.03","quantity":"0.1874","quoteQuantity":"482.748022","timestamp":1750050257808},{"id":6606016,"isBuyerMaker":true,"price":"2576.03","quantity":"0.8126","quoteQuantity":"2093.281978","timestamp":1750050257808},{"id":6606015,"isBuyerMaker":true,"price":"2576.61","quantity":"0.0576","quoteQuantity":"148.412736","timestamp":1750050246872},{"id":6606014,"isBuyerMaker":false,"price":"2576.84","quantity":"0.195","quoteQuantity":"502.4838","timestamp":1750050180958},{"id":6606013,"isBuyerMaker":false,"price":"2576.84","quantity":"0.332","quoteQuantity":"855.51088","t[...]
