interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=30&symbol=SOL_USDC_PERP
  response:
    body:
      string: '[{"id":15539859,"isBuyerMaker":false,"price":"156.64","quantity":"11.52","quoteQuantity":"1804.4928","timestamp":1750050267004},{"id":15539858,"isBuyerMaker":false,"price":"156.64","quantity":"15.96","quoteQuantity":"2499.9744","timestamp":1750050267004},{"id":15539857,"isBuyerMaker":false,"price":"156.64","quantity":"9.58","quoteQuantity":"1500.6112","timestamp":1750050267004},{"id":15539856,"isBuyerMaker":false,"price":"156.66","quantity":"15","quoteQuantity":"2349.9","timestamp":1750050255125},{"id":15539855,"isBuyerMaker":true,"price":"156.63","quantity":"12.06","quoteQuantity":"1888.9578","timestamp":[...]
