interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=5&symbol=BTC_USDC_PERP
  response:
    body:
      string: '[{"id":12787223,"isBuyerMaker":false,"price":"106404","quantity":"0.001","quoteQuantity":"106.404","timestamp":1750050261326},{"id":12787222,"isBuyerMaker":false,"price":"106398.2","quantity":"0.003","quoteQuantity":"319.1946","timestamp":1750050261326},{"id":12787221,"isBuyerMaker":false,"price":"106397.1","quantity":"0.004","quoteQuantity":"425.5884","timestamp":1750050255089},{"id":12787220,"isBuyerMaker":true,"price":"106429.7","quantity":"0.003","quoteQuantity":"319.2891","timestamp":1750050247917},{"id":12787219,"isBuyerMaker":false,"price":"106413.2","quantity":"0.001","quoteQuantity":"106.4132","timestamp":1750050232447}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
