interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '[{"universe":[{"szDecimals":2,"name":"SOL","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"APT","maxLeverage":3,"marginTableId":3},{"szDecimals":2,"name":"ATOM","maxLeverage":10,"marginTableId":55},{"szDecimals":5,"name":"BTC","maxLeverage":40,"marginTableId":54},{"szDecimals":4,"name":"ETH","maxLeverage":25,"marginTableId":53},{"szDecimals":1,"name":"MATIC","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":3,"name":"BNB","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"AVAX","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"GMT","maxLeverage":2,"marginTableId":2},{"szDecimals":1,"name":"DYDX","maxLeverage":20,"marginTableId":20},{"szDecimals":1,"name":"APE","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"OP","maxLeverage":50,"marginTableId":50},{"szDecimals":0,"name":"kPEPE","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"ARB","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"RLB","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":1,"name":"WLD","maxLeverage":10,"marginTableId":10},{"szDecimals":0,"name":"HPOS","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":2,"name":"UNIBOT","maxLeverage":2,"marginTableId":2,"onlyIsolated":true,"isDelisted":true},{"szDecimals":2,"name":"COMP","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"FXS","maxLeverage":3,"marginTableId":3},{"szDecimals":4,"name":"MKR","maxLeverage":10,"marginTableId":55},{"szDecimals":2,"name":"AAVE","maxLeverage":10,"marginTableId":52},{"szDecimals":1,"name":"SNX","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"RNDR","maxLeverage":20,"marginTableId":20,"isDelisted":true},{"szDecimals":1,"name":"LDO","maxLeverage":10,"marginTableId":5[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"476.059554","totalNtlPos":"0.0","totalRawUsd":"476.059554","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"476.059554","totalNtlPos":"0.0","totalRawUsd":"476.059554","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"476.059554","assetPositions":[],"time":1750407056433}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"coin":"SOL","time":1750407056433,"levels":[[{"px":"148.03","sz":"182.7","n":2},{"px":"147.98","sz":"391.84","n":2},{"px":"147.9","sz":"408.57","n":2},{"px":"147.72","sz":"350.3","n":2},{"px":"147.5","sz":"184.06","n":1},{"px":"147.49","sz":"199.1","n":1},{"px":"147.14","sz":"383.67","n":2},{"px":"146.35","sz":"382.76","n":2},{"px":"145.64","sz":"1045.81","n":1},{"px":"145.62","sz":"970.16","n":1},{"px":"144.55","sz":"959.46","n":1},{"px":"144.13","sz":"976.04","n":1},{"px":"142.97","sz":"967.29","n":1},{"px":"142.87","sz":"1048.5","n":1},{"px":"140.0","sz":"4.0","n":4},{"px":"130.0","sz":"1.0","n":2},{"px":"125.0","sz":"0.29","n":1},{"px":"120.0","sz":"0.48","n":3},{"px":"115.0","sz":"0.35","n":1},{"px":"110.0","sz":"0.38","n":1}],[{"px":"148.14","sz":"140.48","n":2},{"px":"148.17","sz":"142.27","n":1},{"px":"148.19","sz":"138.63","n":2},{"px":"148.2","sz":"129.34","n":1},{"px":"148.26","sz":"125.42","n":1},{"px":"148.27","sz":"147.66","n":1},{"px":"148.41","sz":"138.1","n":1},{"px":"148.45","sz":"138.94","n":1},{"px":"148.65","sz":"374.08","n":2},{"px":"149.01","sz":"177.52","n":1},{"px":"149.05","sz":"195.35","n":1},{"px":"149.91","sz":"175.93","n":1},{"px":"149.96","sz":"194.9","n":1},{"px":"150.84","sz":"1000.79","n":1},{"px":"150.86","sz":"998.19","n":1},{"px":"151.75","sz":"997.23","n":1},{"px":"152.36","sz":"997.27","n":1},{"px":"153.22","sz":"0.26","n":1},{"px":"153.37","sz":"1915.85","n":2},{"px":"155.94","sz":"3.6","n":1}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/exchange
  response:
    body:
      string: '{"status":"ok","response":{"type":"order","data":{"statuses":[{"filled":{"totalSz":"0.07","avgPx":"148.11","oid":34113092133}}]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"status":"order","order":{"order":{"coin":"SOL","side":"B","limitPx":"148.19","sz":"0.0","oid":34113092133,"timestamp":1750407058465,"triggerCondition":"N/A","isTrigger":false,"triggerPx":"0.0","children":[],"isPositionTpsl":false,"reduceOnly":false,"orderType":"Limit","origSz":"0.07","tif":"Ioc","cloid":null},"status":"filled","statusTimestamp":1750407058465}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"476.049989","totalNtlPos":"10.3628","totalRawUsd":"465.687189","totalMarginUsed":"1.03628"},"crossMarginSummary":{"accountValue":"476.049989","totalNtlPos":"10.3628","totalRawUsd":"465.687189","totalMarginUsed":"1.03628"},"crossMaintenanceMarginUsed":"0.51814","withdrawable":"475.013709","assetPositions":[{"type":"oneWay","position":{"coin":"SOL","szi":"0.07","leverage":{"type":"cross","value":10},"entryPx":"148.11","positionValue":"10.3628","unrealizedPnl":"-0.0049","returnOnEquity":"-0.004726217","liquidationPx":null,"marginUsed":"1.03628","maxLeverage":10,"cumFunding":{"allTime":"0.058979","sinceOpen":"0.0","sinceChange":"0.0"}}}],"time":1750407059073}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"476.045326","totalNtlPos":"0.0","totalRawUsd":"476.045326","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"476.045326","totalNtlPos":"0.0","totalRawUsd":"476.045326","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"476.045326","assetPositions":[],"time":1750407061503}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
