interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/wapi/v1/history/orders?from=1747458275204&limit=50&symbol=SOL_USDC_PERP&to=1750050275204
  response:
    body:
      string: '[{"clientId":null,"createdAt":"2025-06-16T05:03:20.760","executedQuantity":"0.01","executedQuoteQuantity":"1.5677","expiryReason":null,"id":"1920972616","orderType":"Market","postOnly":false,"price":null,"quantity":"0.01","quoteQuantity":"1.57","selfTradePrevention":"RejectTaker","side":"Ask","status":"Filled","stopLossLimitPrice":null,"stopLossTriggerBy":null,"stopLossTriggerPrice":null,"strategyId":null,"symbol":"SOL_USDC_PERP","systemOrderType":null,"takeProfitLimitPrice":null,"takeProfitTriggerBy":null,"takeProfitTriggerPrice":null,"timeInForce":"GTC","triggerBy":null,"triggerPrice":null,"triggerQuantity":null},{"clientId":null,"createdAt":"2025-06-16T05:03:17.475","executedQuantity":"0.01","executedQuoteQuantity":"1.5676","expiryReason":null,"id":"1920970547","orderType":"Market","postOnly":false,"price":null,"quantity":"0.01","quoteQuantity":"1.57","selfTradePrevention":"RejectTaker","side":"Bid","status":"Filled","stopLossLimitPrice":null,"stopLossTriggerBy":null,"stopLossTriggerPrice":null,"strategyId":null,"symbol":"SOL_USDC_PERP","systemOrderType":null,"takeProfitLimitPrice":null,"takeProfi[...]
