interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=10&symbol=SOL_USDC
  response:
    body:
      string: '[{"id":358186705,"isBuyerMaker":false,"price":"156.59","quantity":"0.09","quoteQuantity":"14.0931","timestamp":1750050380377},{"id":358186704,"isBuyerMaker":true,"price":"156.58","quantity":"0.07","quoteQuantity":"10.9606","timestamp":1750050377667},{"id":358186703,"isBuyerMaker":false,"price":"156.59","quantity":"0.07","quoteQuantity":"10.9613","timestamp":1750050377608},{"id":358186702,"isBuyerMaker":true,"price":"156.58","quantity":"0.15","quoteQuantity":"23.487","timestamp":1750050371849},{"id":358186701,"isBuyerMaker":true,"price":"156.58","quantity":"0.01","quoteQuantity":"1.5658","timestamp":1750050371659},{"id":358186700,"isBuyerMaker":true,"price":"156.59","quantity":"0.1","quoteQuantity":"15.659","timestamp":1750050368831},{"id":358186699,"isBuyerMaker":true,"price":"156.6","quantity":"0.01","quoteQuantity":"1.566","timestamp":1750050367879},{"id":358186698,"isBuyerMaker":true,"price":"156.6","quantity":"0.07","quoteQuantity":"10.962","timestamp":1750050367879},{"id":358186697,"isBuyerMaker":true,"price":"156.61","quantity":"0.01","quoteQuantity":"1.5661","timestamp":1750050367794},{"id":358186696,"isBuyerMaker":true,"price":"156.61","quantity":"0.5","quoteQuantity":"78.305","timestamp":1750050367794}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
