interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=20&symbol=ETH_USDC
  response:
    body:
      string: '[{"id":1931033,"isBuyerMaker":false,"price":"2577.46","quantity":"0.6","quoteQuantity":"1546.476","timestamp":1750050291713},{"id":1931032,"isBuyerMaker":true,"price":"2577.16","quantity":"0.0776","quoteQuantity":"199.987616","timestamp":1750050258086},{"id":1931031,"isBuyerMaker":false,"price":"2577.2","quantity":"0.0776","quoteQuantity":"199.99072","timestamp":1750050258072},{"id":1931030,"isBuyerMaker":true,"price":"2577.46","quantity":"0.0127","quoteQuantity":"32.733742","timestamp":1750050236910},{"id":1931029,"isBuyerMaker":false,"price":"2577.17","quantity":"0.0127","quoteQuantity":"32.730059","t[...]
