interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/trades?limit=20&symbol=BTC_USDC
  response:
    body:
      string: '[{"id":8347595,"isBuyerMaker":false,"price":"106450.7","quantity":"0.0004","quoteQuantity":"42.58028","timestamp":1750050368050},{"id":8347594,"isBuyerMaker":false,"price":"106456.5","quantity":"0.0001","quoteQuantity":"10.64565","timestamp":1750050365491},{"id":8347593,"isBuyerMaker":false,"price":"106450","quantity":"0.00129","quoteQuantity":"137.3205","timestamp":1750050291637},{"id":8347592,"isBuyerMaker":true,"price":"106454.2","quantity":"0.00002","quoteQuantity":"2.129084","timestamp":1750050257536},{"id":8347591,"isBuyerMaker":false,"price":"106459.2","quantity":"0.0002","quoteQuantity":"21.29184","[...]
