interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749197447&interval=1h&limit=100&startTime=1749193847&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"147.97","end":"2025-06-06 09:00:00","high":"148.08","low":"147.33","open":"147.45","quoteVolume":"249214.2064","start":"2025-06-06
        08:00:00","trades":"1387","volume":"1686.29"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
