interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748898271&interval=1m&limit=100&startTime=1748897971&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"154.39","end":"2025-06-02 21:00:00","high":"154.5","low":"154.37","open":"154.38","quoteVolume":"2227.2634","start":"2025-06-02
        20:59:00","trades":"93","volume":"14.42"},{"close":"154.48","end":"2025-06-02
        21:01:00","high":"154.48","low":"154.4","open":"154.4","quoteVolume":"6091.0162","start":"2025-06-02
        21:00:00","trades":"93","volume":"39.44"},{"close":"154.62","end":"2025-06-02
        21:02:00","high":"154.62","low":"154.37","open":"154.47","quoteVolume":"6163.8231","start":"2025-06-02
        21:01:00","trades":"121","volume":"39.9"},{"close":"154.63","end":"2025-06-02
        21:03:00","high":"154.73","low":"154.62","open":"154.62","quoteVolume":"7346.0982","start":"2025-06-02
        21:02:00","trades":"103","volume":"47.49"},{"close":"154.77","end":"2025-06-02
        21:04:00","high":"154.8","low":"154.62","open":"154.62","quoteVolume":"5002.9298","start":"2025-06-02
        21:03:00","trades":"98","volume":"32.33"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748898271&interval=1h&limit=100&startTime=1748894671&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"155.49","end":"2025-06-02 22:00:00","high":"155.57","low":"154.32","open":"154.4","quoteVolume":"408319.4544","start":"2025-06-02
        21:00:00","trades":"6979","volume":"2635.35"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
