interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748898270&interval=1h&limit=100&startTime=1748894670&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"104965","end":"2025-06-02 22:00:00","high":"105169.9","low":"104679.5","open":"104951.9","quoteVolume":"329025.439339","start":"2025-06-02
        21:00:00","trades":"1346","volume":"3.1365"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
