interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748917584&interval=1h&limit=100&startTime=1748913984&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105678.9","end":"2025-06-03 03:00:00","high":"106551.7","low":"105656.1","open":"106535.5","quoteVolume":"282901.515901","start":"2025-06-03
        02:00:00","trades":"379","volume":"2.66091"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
