interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748988277&interval=1h&limit=100&startTime=1748984677&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"155.94","end":"2025-06-03 23:00:00","high":"156.45","low":"154.56","open":"154.93","quoteVolume":"320742.0763","start":"2025-06-03
        22:00:00","trades":"2220","volume":"2062.91"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
