interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749107444&interval=1h&limit=100&startTime=1749103844&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"152.48","end":"2025-06-05 08:00:00","high":"153.05","low":"152.12","open":"152.26","quoteVolume":"457716.8546","start":"2025-06-05
        07:00:00","trades":"1805","volume":"2998.47"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
