interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748984998&interval=1h&limit=100&startTime=1748981398&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"154.91","end":"2025-06-03 22:00:00","high":"157.97","low":"154.3","open":"157.79","quoteVolume":"912124.3045","start":"2025-06-03
        21:00:00","trades":"4145","volume":"5833.33"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
