interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748809767&interval=1m&limit=100&startTime=1748809467&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"155.9","end":"2025-06-01 20:25:00","high":"155.91","low":"155.74","open":"155.76","quoteVolume":"9087.7693","start":"2025-06-01
        20:24:00","trades":"67","volume":"58.31"},{"close":"155.91","end":"2025-06-01
        20:26:00","high":"155.91","low":"155.84","open":"155.89","quoteVolume":"5901.4292","start":"2025-06-01
        20:25:00","trades":"17","volume":"37.86"},{"close":"155.92","end":"2025-06-01
        20:27:00","high":"155.92","low":"155.87","open":"155.91","quoteVolume":"7174.817","start":"2025-06-01
        20:26:00","trades":"10","volume":"46.02"},{"close":"155.81","end":"2025-06-01
        20:28:00","high":"155.9","low":"155.81","open":"155.9","quoteVolume":"1652.382","start":"2025-06-01
        20:27:00","trades":"12","volume":"10.6"},{"close":"155.85","end":"2025-06-01
        20:29:00","high":"155.85","low":"155.81","open":"155.81","quoteVolume":"2131.7208","start":"2025-06-01
        20:28:00","trades":"2","volume":"13.68"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748809767&interval=1h&limit=100&startTime=1748806167&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"155.78","end":"2025-06-01 21:00:00","high":"156.3","low":"155.27","open":"155.99","quoteVolume":"383920.036","start":"2025-06-01
        20:00:00","trades":"1523","volume":"2463.45"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
