interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748894992&interval=1h&limit=100&startTime=1748891392&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"104947.3","end":"2025-06-02 21:00:00","high":"105038.8","low":"104482.9","open":"104482.9","quoteVolume":"522864.727059","start":"2025-06-02
        20:00:00","trades":"5270","volume":"4.98841"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
