interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749007589&interval=1h&limit=100&startTime=1749003989&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"156.64","end":"2025-06-04 04:00:00","high":"157.55","low":"156.1","open":"156.14","quoteVolume":"508690.1341","start":"2025-06-04
        03:00:00","trades":"1668","volume":"3239.97"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
