interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748821831&interval=1h&limit=100&startTime=1748735431&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"156.29","end":"2025-06-01 01:00:00","high":"156.75","low":"155.8","open":"156.53","quoteVolume":"1393083.2753","start":"2025-06-01
        00:00:00","trades":"3972","volume":"8910.17"},{"close":"155.21","end":"2025-06-01
        02:00:00","high":"156.79","low":"154.77","open":"156.3","quoteVolume":"1622406.7263","start":"2025-06-01
        01:00:00","trades":"4533","volume":"10396.34"},{"close":"154.85","end":"2025-06-01
        03:00:00","high":"155.43","low":"154.39","open":"155.28","quoteVolume":"395241.7742","start":"2025-06-01
        02:00:00","trades":"2087","volume":"2549.94"},{"close":"154.78","end":"2025-06-01
        04:00:00","high":"154.99","low":"153.5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748821831&interval=1h&limit=100&startTime=1748735431&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"104475.3","end":"2025-06-01 01:00:00","high":"104694.2","low":"104386.7","open":"104694.2","quoteVolume":"90821.352052","start":"2025-06-01
        00:00:00","trades":"153","volume":"0.8692"},{"close":"104185.9","end":"2025-06-01
        02:00:00","high":"104567.9",[...]
