interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748894993&interval=1m&limit=100&startTime=1748894693&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"153.39","end":"2025-06-02 20:05:00","high":"153.4","low":"153.25","open":"153.25","quoteVolume":"1994.9778","start":"2025-06-02
        20:04:00","trades":"152","volume":"13.01"},{"close":"153.21","end":"2025-06-02
        20:06:00","high":"153.4","low":"153.17","open":"153.39","quoteVolume":"5630.3308","start":"2025-06-02
        20:05:00","trades":"180","volume":"36.74"},{"close":"153.41","end":"2025-06-02
        20:07:00","high":"153.46","low":"153.2","open":"153.2","quoteVolume":"11027.0461","start":"2025-06-02
        20:06:00","trades":"204","volume":"71.9"},{"close":"153.54","end":"2025-06-02
        20:08:00","high":"153.55","low":"153.4","open":"153.4","quoteVolume":"6224.0661","start":"2025-06-02
        20:07:00","trades":"160","volume":"40.55"},{"close":"153.57","end":"2025-06-02
        20:09:00","high":"153.6","low":"153.5","open":"153.55","quoteVolume":"6498.8652","start":"2025-06-02
        20:08:00","trades":"171","volume":"42.32"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748894993&interval=1h&limit=100&startTime=1748891393&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"154.39","end":"2025-06-02 21:00:00","high":"154.6","low":"153","open":"153.02","quoteVolume":"699571.7395","start":"2025-06-02
        20:00:00","trades":"11502","volume":"4538.8"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
