interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748917583&interval=1h&limit=100&startTime=1748913983&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"160.01","end":"2025-06-03 03:00:00","high":"162.47","low":"159.82","open":"162.05","quoteVolume":"747806.5159","start":"2025-06-03
        02:00:00","trades":"2777","volume":"4633.65"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
