interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748917585&interval=1m&limit=100&startTime=1748917285&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"161.34","end":"2025-06-03 02:22:00","high":"161.39","low":"161.32","open":"161.32","quoteVolume":"7404.5508","start":"2025-06-03
        02:21:00","trades":"20","volume":"45.89"},{"close":"161.35","end":"2025-06-03
        02:23:00","high":"161.35","low":"161.3","open":"161.34","quoteVolume":"4579.7024","start":"2025-06-03
        02:22:00","trades":"16","volume":"28.39"},{"close":"161.1","end":"2025-06-03
        02:24:00","high":"161.36","low":"161.1","open":"161.35","quoteVolume":"11721.7376","start":"2025-06-03
        02:23:00","trades":"43","volume":"72.7"},{"close":"161.2","end":"2025-06-03
        02:25:00","high":"161.23","low":"161.05","open":"161.09","quoteVolume":"4857.6342","start":"2025-06-03
        02:24:00","trades":"33","volume":"30.14"},{"close":"161.19","end":"2025-06-03
        02:26:00","high":"161.28","low":"161.14","open":"161.19","quoteVolume":"5417.2091","start":"2025-06-03
        02:25:00","trades":"15","volume":"33.61"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748917585&interval=1h&limit=100&startTime=1748913985&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"160.01","end":"2025-06-03 03:00:00","high":"162.47","low":"159.82","open":"162.05","quoteVolume":"747806.5159","start":"2025-06-03
        02:00:00","trades":"2777","volume":"4633.65"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
