interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748809772&interval=1h&limit=100&startTime=1748806172&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"155.78","end":"2025-06-01 21:00:00","high":"156.3","low":"155.27","open":"155.99","quoteVolume":"383920.036","start":"2025-06-01
        20:00:00","trades":"1523","volume":"2463.45"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
