interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748809766&interval=1h&limit=100&startTime=1748806166&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105008.1","end":"2025-06-01 21:00:00","high":"105357.4","low":"104981.7","open":"105181.4","quoteVolume":"299447.093743","start":"2025-06-01
        20:00:00","trades":"279","volume":"2.84591"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
