interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748898278&interval=1h&limit=100&startTime=1748811878&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"157.28","end":"2025-06-01 23:00:00","high":"157.46","low":"156.5","open":"156.97","quoteVolume":"286357.5597","start":"2025-06-01
        22:00:00","trades":"1509","volume":"1824.13"},{"close":"157.8","end":"2025-06-02
        00:00:00","high":"157.98","low":"157.05","open":"157.29","quoteVolume":"299165.2631","start":"2025-06-01
        23:00:00","trades":"1587","volume":"1898.11"},{"close":"157.91","end":"2025-06-02
        01:00:00","high":"158.27","low":"157.33","open":"157.8","quoteVolume":"521801.1814","start":"2025-06-02
        00:00:00","trades":"2448","volume":"3308.8"},{"close":"158.19","end":"2025-06-02
        02:00:00","high":"159","low":"157.9","open[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748898278&interval=1h&limit=100&startTime=1748811878&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105563.5","end":"2025-06-01 23:00:00","high":"105801.9","low":"105483.4","open":"105565.3","quoteVolume":"112982.047056","start":"2025-06-01
        22:00:00","trades":"189","volume":"1.0695"},{"close":"105687.1","end":"2025-06-02
        00:00:00","high":"105906","[...]
