interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748821823&interval=1m&limit=100&startTime=1748821523&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"157.67","end":"2025-06-01 23:46:00","high":"157.68","low":"157.59","open":"157.59","quoteVolume":"4065.7563","start":"2025-06-01
        23:45:00","trades":"11","volume":"25.79"},{"close":"157.81","end":"2025-06-01
        23:47:00","high":"157.86","low":"157.69","open":"157.7","quoteVolume":"10143.0814","start":"2025-06-01
        23:46:00","trades":"45","volume":"64.28"},{"close":"157.81","end":"2025-06-01
        23:48:00","high":"157.81","low":"157.81","open":"157.81","quoteVolume":"47.343","start":"2025-06-01
        23:47:00","trades":"2","volume":"0.3"},{"close":"157.81","end":"2025-06-01
        23:49:00","high":"157.83","low":"157.74","open":"157.81","quoteVolume":"7046.7572","start":"2025-06-01
        23:48:00","trades":"20","volume":"44.66"},{"close":"157.84","end":"2025-06-01
        23:50:00","high":"157.86","low":"157.83","open":"157.85","quoteVolume":"2924.8975","start":"2025-06-01
        23:49:00","trades":"7","volume":"18.53"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748821823&interval=1h&limit=100&startTime=1748818223&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"157.8","end":"2025-06-02 00:00:00","high":"157.98","low":"157.05","open":"157.29","quoteVolume":"299165.2631","start":"2025-06-01
        23:00:00","trades":"1587","volume":"1898.11"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
