interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748821822&interval=1h&limit=100&startTime=1748818222&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105687.1","end":"2025-06-02 00:00:00","high":"105906","low":"105542.6","open":"105546.6","quoteVolume":"64396.443364","start":"2025-06-01
        23:00:00","trades":"133","volume":"0.60881"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
