interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748917591&interval=1h&limit=100&startTime=1748831191&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"155.57","end":"2025-06-02 04:00:00","high":"156.99","low":"155.46","open":"156.92","quoteVolume":"368812.0664","start":"2025-06-02
        03:00:00","trades":"1933","volume":"2363.2"},{"close":"155.34","end":"2025-06-02
        05:00:00","high":"156.26","low":"155.21","open":"155.54","quoteVolume":"254971.5261","start":"2025-06-02
        04:00:00","trades":"1227","volume":"1636.34"},{"close":"155.41","end":"2025-06-02
        06:00:00","high":"156.3","low":"154.8","open":"155.37","quoteVolume":"238690.9641","start":"2025-06-02
        05:00:00","trades":"1589","volume":"1534.46"},{"close":"155.81","end":"2025-06-02
        07:00:00","high":"156.19","low":"154.75","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748917591&interval=1h&limit=100&startTime=1748831191&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"104911.3","end":"2025-06-02 04:00:00","high":"105084.3","low":"104609.2","open":"105081.8","quoteVolume":"235690.179791","start":"2025-06-02
        03:00:00","trades":"339","volume":"2.2476"},{"close":"104783.9","end":"2025-06-02
        05:00:00","high":"105009.4"[...]
