interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749107440&interval=1h&limit=100&startTime=1749103840&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"104576.7","end":"2025-06-05 08:00:00","high":"104674.2","low":"104480.7","open":"104522.3","quoteVolume":"113460.919922","start":"2025-06-05
        07:00:00","trades":"369","volume":"1.0849"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
