interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749107442&interval=1m&limit=100&startTime=1749107142&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"152.12","end":"2025-06-05 07:06:00","high":"152.23","low":"152.12","open":"152.23","quoteVolume":"9789.1247","start":"2025-06-05
        07:05:00","trades":"49","volume":"64.33"},{"close":"152.3","end":"2025-06-05
        07:07:00","high":"152.3","low":"152.13","open":"152.13","quoteVolume":"7861.652","start":"2025-06-05
        07:06:00","trades":"49","volume":"51.65"},{"close":"152.35","end":"2025-06-05
        07:08:00","high":"152.36","low":"152.31","open":"152.31","quoteVolume":"2579.1554","start":"2025-06-05
        07:07:00","trades":"13","volume":"16.93"},{"close":"152.36","end":"2025-06-05
        07:09:00","high":"152.38","low":"152.34","open":"152.34","quoteVolume":"2119.4608","start":"2025-06-05
        07:08:00","trades":"7","volume":"13.91"},{"close":"152.32","end":"2025-06-05
        07:10:00","high":"152.35","low":"152.32","open":"152.35","quoteVolume":"4248.8485","start":"2025-06-05
        07:09:00","trades":"14","volume":"27.89"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749107442&interval=1h&limit=100&startTime=1749103842&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"152.48","end":"2025-06-05 08:00:00","high":"153.05","low":"152.12","open":"152.26","quoteVolume":"457716.8546","start":"2025-06-05
        07:00:00","trades":"1805","volume":"2998.47"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
