interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749107448&interval=1h&limit=100&startTime=1749021048&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"156.8","end":"2025-06-04 09:00:00","high":"157.27","low":"156.51","open":"156.51","quoteVolume":"388441.2462","start":"2025-06-04
        08:00:00","trades":"1115","volume":"2475.61"},{"close":"157.63","end":"2025-06-04
        10:00:00","high":"157.86","low":"156.4","open":"156.8","quoteVolume":"628289.4256","start":"2025-06-04
        09:00:00","trades":"1468","volume":"3999.42"},{"close":"156.72","end":"2025-06-04
        11:00:00","high":"157.97","low":"156.59","open":"157.64","quoteVolume":"403725.1576","start":"2025-06-04
        10:00:00","trades":"1553","volume":"2568.41"},{"close":"156","end":"2025-06-04
        12:00:00","high":"156.92","low":"155.9","ope[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1749107448&interval=1h&limit=100&startTime=1749021048&symbol=BTC_USDC
  response:
    body:
      string: '[{"close":"105502.3","end":"2025-06-04 09:00:00","high":"105634.6","low":"105401.7","open":"105425","quoteVolume":"320544.560003","start":"2025-06-04
        08:00:00","trades":"228","volume":"3.03759"},{"close":"105890.3","end":"2025-06-04
        10:00:00","high":"105970.1",[...]
