interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748911830&interval=1h&limit=100&startTime=1748908230&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"158.96","end":"2025-06-03 01:00:00","high":"159.07","low":"156.49","open":"156.9","quoteVolume":"672151.7222","start":"2025-06-03
        00:00:00","trades":"4134","volume":"4254.1"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
