interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/klines?endTime=1748821828&interval=1h&limit=100&startTime=1748818228&symbol=SOL_USDC
  response:
    body:
      string: '[{"close":"157.8","end":"2025-06-02 00:00:00","high":"157.98","low":"157.05","open":"157.29","quoteVolume":"299165.2631","start":"2025-06-01
        23:00:00","trades":"1587","volume":"1898.11"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
