interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '[{"universe":[{"szDecimals":2,"name":"SOL","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"APT","maxLeverage":3,"marginTableId":3},{"szDecimals":2,"name":"ATOM","maxLeverage":10,"marginTableId":55},{"szDecimals":5,"name":"BTC","maxLeverage":40,"marginTableId":54},{"szDecimals":4,"name":"ETH","maxLeverage":25,"marginTableId":53},{"szDecimals":1,"name":"MATIC","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":3,"name":"BNB","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"AVAX","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"GMT","maxLeverage":2,"marginTableId":2},{"szDecimals":1,"name":"DYDX","maxLeverage":20,"marginTableId":20},{"szDecimals":1,"name":"APE","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"OP","maxLeverage":50,"marginTableId":50},{"szDecimals":0,"name":"kPEPE","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"ARB","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"RLB","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":1,"name":"WLD","maxLeverage":10,"marginTableId":10},{"szDecimals":0,"name":"HPOS","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":2,"name":"UNIBOT","maxLeverage":2,"marginTableId":2,"onlyIsolated":true,"isDelisted":true},{"szDecimals":2,"name":"COMP","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"FXS","maxLeverage":3,"marginTableId":3},{"szDecimals":4,"name":"MKR","maxLeverage":10,"marginTableId":55},{"szDecimals":2,"name":"AAVE","maxLeverage":10,"marginTableId":52},{"szDecimals":1,"name":"SNX","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"RNDR","maxLeverage":20,"marginTableId":20,"isDelisted":true},{"szDecimals":1,"name":"LDO","maxLeverage":10,"marginTableId":5[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"marginSummary":{"accountValue":"490.502651","totalNtlPos":"0.0","totalRawUsd":"490.502651","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"490.502651","totalNtlPos":"0.0","totalRawUsd":"490.502651","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"490.502651","assetPositions":[],"time":1750267903108}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/exchange
  response:
    body:
      string: '{"status":"ok","response":{"type":"order","data":{"statuses":[{"resting":{"oid":34036935775}}]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"status":"order","order":{"order":{"coin":"SOL","side":"B","limitPx":"130.08","sz":"0.07","oid":34036935775,"timestamp":1750267905323,"triggerCondition":"N/A","isTrigger":false,"triggerPx":"0.0","children":[],"isPositionTpsl":false,"reduceOnly":false,"orderType":"Limit","origSz":"0.07","tif":"Gtc","cloid":null},"status":"open","statusTimestamp":1750267905323}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
