interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/api/v1/account
  response:
    body:
      string: '{"autoBorrowSettlements":true,"autoLend":true,"autoRealizePnl":true,"autoRepayBorrows":true,"borrowLimit":"2500000","futuresMakerFee":"1.9","futuresTakerFee":"4.5","leverageLimit":"50","limitOrders":0,"liquidating":false,"positionLimit":"2500000","spotMakerFee":"8","spotTakerFee":"10","triggerOrders":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/api/v1/capital
  response:
    body:
      string: '{"USDC":{"available":"0","locked":"0","staked":"0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/api/v1/positions
  response:
    body:
      string: not found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/api/v1/positions
  response:
    body:
      string: not found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
