interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.backpack.exchange/api/v1/market?symbol=BTC_USDC_PERP
  response:
    body:
      string: '{"baseSymbol":"BTC","createdAt":"2025-01-21T06:34:54.691858","filters":{"price":{"borrowEntryFeeMaxMultiplier":null,"borrowEntryFeeMinMultiplier":null,"maxImpactMultiplier":"1.02","maxMultiplier":"1.25","maxPrice":"1000000","meanMarkPriceBand":{"maxMultiplier":"1.06","minMultiplier":"0.94"},"meanPremiumBand":{"tolerancePct":"0.05"},"minImpactMultiplier":"0.98","minMultiplier":"0.75","minPrice":"0.1","tickSize":"0.1"},"quantity":{"maxQuantity":null,"minQuantity":"0.00001","stepSize":"0.00001"}},"fundingInterval":28800000,"fundingRateLowerBound":"-100","fundingRateUpperBound":"100","imfFunction":{"base":"0.02","factor":"0.000085","type":"sqrt"},"marketType":"PERP","mmfFunction":{"base":"0.0125","factor":"0.000051","type":"sqrt"},"openInterestLimit":"3200","orderBookState":"Open","quoteSymbol":"USDC","symbol":"BTC_USDC_PERP"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
