interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - FILTERED_API_KEY
      X-Signature:
      - FILTERED_SIGNATURE
      X-Timestamp:
      - FILTERED_TIMESTAMP
      X-Window:
      - FILTERED_WINDOW
    method: GET
    uri: https://api.backpack.exchange/wapi/v1/history/orders
  response:
    body:
      string: '[{"clientId":null,"createdAt":"2025-06-16T05:02:50.104","executedQuantity":"0","executedQuoteQuantity":"0","expiryReason":null,"id":"1920952099","orderType":"Limit","postOnly":false,"price":"164.63","quantity":"0.01","quoteQuantity":"1.6463","selfTradePrevention":"RejectTaker","side":"Ask","status":"Cancelled","stopLossLimitPrice":null,"stopLossTriggerBy":null,"stopLossTriggerPrice":null,"strategyId":null,"symbol":"SOL_USDC","systemOrderType":null,"takeProfitLimitPrice":null,"takeProfitTriggerBy":null,"takeProfitTriggerPrice":null,"timeInForce":"GTC","triggerBy":null,"triggerPrice":null,"triggerQuantity":null},{"clientId":null,"createdAt":"2025-06-16T05:02:46.231","executedQuantity":"0","executedQuoteQuantity":"0","expiryReason":null,"id":"1920950356","orderType":"Limit","postOnly":false,"price":"148.95","quantity":"0.01","quoteQuantity":"1.4895","selfTradePrevention":"RejectTaker","side":"Bid","status":"New","stopLossLimitPrice":null,"stopLossTriggerBy":null,"stopLossTriggerPrice":null,"strategyId":null,"symbol":"SOL_USDC","systemOrderType":null,"takeProfitLimitPrice":null,"takeProfitTriggerBy"[...]
