interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"coin":"BTC","time":1749426854006,"levels":[[{"px":"105593.0","sz":"6.7803","n":25},{"px":"105592.0","sz":"3.35227","n":2},{"px":"105591.0","sz":"0.93221","n":8},{"px":"105590.0","sz":"1.64981","n":26},{"px":"105589.0","sz":"1.71145","n":11},{"px":"105588.0","sz":"2.29458","n":3},{"px":"105587.0","sz":"1.05585","n":6},{"px":"105586.0","sz":"1.90663","n":8},{"px":"105585.0","sz":"2.85567","n":5},{"px":"105584.0","sz":"1.09806","n":7},{"px":"105583.0","sz":"5.86054","n":7},{"px":"105582.0","sz":"0.09593","n":2},{"px":"105581.0","sz":"0.83354","n":4},{"px":"105580[...]
