interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"coin":"BTC","time":1749503108830,"levels":[[{"px":"108812.0","sz":"0.03724","n":1},{"px":"108811.0","sz":"0.00011","n":1},{"px":"108810.0","sz":"0.00021","n":2},{"px":"108809.0","sz":"0.00011","n":1},{"px":"108808.0","sz":"0.04606","n":2},{"px":"108807.0","sz":"0.00011","n":1},{"px":"108806.0","sz":"0.01211","n":3},{"px":"108805.0","sz":"0.10383","n":3},{"px":"108804.0","sz":"0.01935","n":2},{"px":"108803.0","sz":"0.00011","n":1},{"px":"108802.0","sz":"0.00011","n":1},{"px":"108801.0","sz":"0.00011","n":1},{"px":"108800.0","sz":"0.00011","n":1},{"px":"108799.0[...]
