interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"coin":"BTC","time":1749522424944,"levels":[[{"px":"109681.0","sz":"0.13682","n":3},{"px":"109680.0","sz":"0.04579","n":3},{"px":"109679.0","sz":"0.00011","n":1},{"px":"109678.0","sz":"0.09128","n":2},{"px":"109677.0","sz":"0.00583","n":2},{"px":"109676.0","sz":"0.00011","n":1},{"px":"109675.0","sz":"0.00011","n":1},{"px":"109674.0","sz":"0.00011","n":1},{"px":"109673.0","sz":"0.09129","n":2},{"px":"109672.0","sz":"0.27355","n":2},{"px":"109671.0","sz":"0.00021","n":2},{"px":"109670.0","sz":"0.00011","n":1},{"px":"109669.0","sz":"0.00011","n":1},{"px":"109668.0[...]
