interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"coin":"BTC","time":1749499833318,"levels":[[{"px":"108659.0","sz":"4.10086","n":5},{"px":"108658.0","sz":"0.00011","n":1},{"px":"108657.0","sz":"0.0272","n":2},{"px":"108656.0","sz":"0.00011","n":1},{"px":"108655.0","sz":"0.00011","n":1},{"px":"108654.0","sz":"0.00011","n":1},{"px":"108653.0","sz":"0.00021","n":2},{"px":"108652.0","sz":"0.00011","n":1},{"px":"108651.0","sz":"0.00011","n":1},{"px":"108650.0","sz":"0.13908","n":3},{"px":"108649.0","sz":"0.0463","n":3},{"px":"108648.0","sz":"0.04713","n":3},{"px":"108647.0","sz":"0.00011","n":1},{"px":"108646.0",[...]
