interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"coin":"BTC","time":1749414170228,"levels":[[{"px":"106250.0","sz":"3.51349","n":11},{"px":"106248.0","sz":"0.0988","n":3},{"px":"106247.0","sz":"0.29622","n":5},{"px":"106246.0","sz":"0.06487","n":3},{"px":"106245.0","sz":"0.11775","n":2},{"px":"106244.0","sz":"0.245","n":2},{"px":"106243.0","sz":"0.50834","n":3},{"px":"106242.0","sz":"0.09611","n":2},{"px":"106241.0","sz":"0.21177","n":2},{"px":"106239.0","sz":"0.11765","n":1},{"px":"106238.0","sz":"1.84558","n":3},{"px":"106237.0","sz":"2.40773","n":6},{"px":"106236.0","sz":"0.64619","n":3},{"px":"106235.0",[...]
